shelly/example/door.json
[{"id":"1f019fa9.e415b","type":"debug","z":"8436a552.ae1f78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":220,"wires":[]},{"id":"2ea458db.b8c238","type":"shelly-door","z":"8436a552.ae1f78","hostname":"192.168.178.146","description":"Garagentüre","sendfullstatus":false,"usepolling":false,"pollinginterval":"2000","inputs":1,"x":490,"y":220,"wires":[["1f019fa9.e415b"]]},{"id":"7444e678.e75628","type":"debug","z":"8436a552.ae1f78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":300,"wires":[]},{"id":"534a72e6.6be4dc","type":"shelly-door","z":"8436a552.ae1f78","hostname":"192.168.178.147","description":"Garagentor","sendfullstatus":false,"usepolling":true,"pollinginterval":"5000","inputs":0,"x":490,"y":300,"wires":[["7444e678.e75628"]]},{"id":"b4393811.259d18","type":"inject","z":"8436a552.ae1f78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":220,"wires":[["2ea458db.b8c238"]]}]