examples/blugateway.json
[{"id":"0daaca6c559a4ac6","type":"shelly-gen2","z":"62a53d6e4cbdfb9a","hostname":"192.168.178.220","description":"BLU-Gateway","mode":"callback","server":"7f2759a4fe573634","outputmode":"event","uploadretryinterval":5000,"pollinginterval":5000,"pollstatus":false,"getstatusoncommand":true,"devicetype":"BluGateway","outputs":1,"x":280,"y":1140,"wires":[["0f371eef3226cba9"]]},{"id":"7e7af4802db81b4f","type":"debug","z":"62a53d6e4cbdfb9a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":1160,"wires":[]},{"id":"a3c70e46afb486d0","type":"inject","z":"62a53d6e4cbdfb9a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":1140,"wires":[["0daaca6c559a4ac6"]]},{"id":"0f371eef3226cba9","type":"function","z":"62a53d6e4cbdfb9a","name":"filter for BLU events","func":"let isBluMessage = msg.payload.info.event === \"shelly-blu\";\nif (isBluMessage){\n    node.send(msg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":1140,"wires":[["841589a76e05b12c"]]},{"id":"853a58645666004f","type":"debug","z":"62a53d6e4cbdfb9a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":1100,"wires":[]},{"id":"841589a76e05b12c","type":"function","z":"62a53d6e4cbdfb9a","name":"switch device","func":"// TODO: adapt your mac addresses here\nlet address1 = \"90:ab:96:3c:af:47\";\nlet address2 = \"90:ab:96:3c:af:48\";\n\nswitch (msg.payload.info.data.address){\n    case address1:\n        node.send([msg, null]);\n    break;\n\n    case address2:\n        node.send([null, msg]);\n        break;\n    default:\n        // nothing to do\n        break;\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":1140,"wires":[["853a58645666004f"],["7e7af4802db81b4f"]]},{"id":"7f2759a4fe573634","type":"shelly-gen2-server","port":"20000","hostname":""}]