examples/blugateway.json
[{"id":"8e9829097c80f37f","type":"shelly-gen2","z":"62a53d6e4cbdfb9a","hostname":"192.168.178.76","description":"ShellyBluGateway","mode":"callback","verbose":false,"server":"7f2759a4fe573634","outputmode":"event","uploadretryinterval":5000,"pollinginterval":5000,"pollstatus":false,"getstatusoncommand":true,"devicetype":"SNGW-BT01","devicetypemustmatchexactly":false,"captureblutooth":true,"outputs":1,"x":370,"y":480,"wires":[["f25343742f4f9c0d","257776387e10fb0e"]]},{"id":"f8c170f943de0fa3","type":"debug","z":"62a53d6e4cbdfb9a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":500,"wires":[]},{"id":"1fd69529e146100a","type":"inject","z":"62a53d6e4cbdfb9a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":480,"wires":[["8e9829097c80f37f"]]},{"id":"f25343742f4f9c0d","type":"function","z":"62a53d6e4cbdfb9a","name":"filter for BLU events","func":"if(msg.payload.info){\n    let isBluMessage = msg.payload.info.event === \"shelly-blu\";\n    if (isBluMessage){\n        node.send([msg, null]);\n    }\n}\nelse{\n    node.send([null, msg]);\n}\n","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":480,"wires":[["52087e57509e02a1"],["83bfdecf1a502d74"]]},{"id":"a1251db2c18ee554","type":"debug","z":"62a53d6e4cbdfb9a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":440,"wires":[]},{"id":"52087e57509e02a1","type":"function","z":"62a53d6e4cbdfb9a","name":"switch device","func":"// TODO: adapt your mac addresses here\nlet address1 = \"90:ab:96:3c:af:47\";\nlet address2 = \"90:ab:96:3c:af:48\";\n\nswitch (msg.payload.info.data.address){\n    case address1:\n        node.send([msg, null]);\n    break;\n\n    case address2:\n        node.send([null, msg]);\n        break;\n    default:\n        // nothing to do\n        break;\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":460,"wires":[["a1251db2c18ee554"],["f8c170f943de0fa3"]]},{"id":"83bfdecf1a502d74","type":"debug","z":"62a53d6e4cbdfb9a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1050,"y":540,"wires":[]},{"id":"257776387e10fb0e","type":"debug","z":"62a53d6e4cbdfb9a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1050,"y":580,"wires":[]},{"id":"7f2759a4fe573634","type":"shelly-gen2-server","port":"20000","hostname":"","hostip":"192.168.178.121"}]