examples/bulbduo.json
[{"id":"a2b396f28a9c9fd4","type":"debug","z":"0d338faf61a7ae48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":200,"wires":[]},{"id":"85cbf09361892ea1","type":"comment","z":"0d338faf61a7ae48","name":"Shelly Bulb Duo example","info":"","x":230,"y":140,"wires":[]},{"id":"44466747cd62e7bf","type":"function","z":"0d338faf61a7ae48","name":"white 3000","func":"msg.payload =\n{\n    brightness : 100,\n    // white : 100,\n    temp : 3000, // optional 2700..6500K for white (shelly bulb duo)\n    transition : 0, // optional 0..5000ms\n    on : true\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":180,"wires":[["a8ad9bfc7858f603"]]},{"id":"c0ed071650a2f63b","type":"function","z":"0d338faf61a7ae48","name":"white 6500","func":"msg.payload =\n{\n    brightness : 100,\n    white : 100,\n    // temp : 6500, // optional 2700..6500K for white (shelly bulb duo)\n    transition : 0, // optional 0..5000ms\n    on : true\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":220,"wires":[["a8ad9bfc7858f603"]]},{"id":"4a50993a88fbd7d3","type":"inject","z":"0d338faf61a7ae48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":180,"wires":[["44466747cd62e7bf"]]},{"id":"444a96cb2d065593","type":"inject","z":"0d338faf61a7ae48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":220,"wires":[["c0ed071650a2f63b"]]},{"id":"a8ad9bfc7858f603","type":"shelly-gen1","z":"0d338faf61a7ae48","hostname":"192.168.178.247","description":"","mode":"polling","server":"033a6e9acf499057","uploadretryinterval":"5000","pollinginterval":5000,"pollstatus":false,"getstatusoncommand":true,"devicetype":"Dimmer","outputs":1,"credentials":{"username":"","password":""},"x":650,"y":200,"wires":[["a2b396f28a9c9fd4"]]},{"id":"033a6e9acf499057","type":"shelly-gen1-server","port":"20001","hostname":""}]