examples/bulbrgbw.json
[{"id":"f00739aa9fbc9f54","type":"debug","z":"f45ce90b3151803b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":160,"wires":[]},{"id":"5578872ace14f707","type":"inject","z":"f45ce90b3151803b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":160,"wires":[["00eff7cbea67d2a0"]]},{"id":"00eff7cbea67d2a0","type":"function","z":"f45ce90b3151803b","name":"red","func":"msg.payload =\n{\n    red : 255,\n    green : 0,\n    blue : 0,\n    white : 0,\n    temp : 5000, // optional 3000..6500K for white (shelly bulb RGBW)\n    brightness : 10,\n    gain : 10,\n    transition : 2000, // optional 0..5000ms\n    on : true,\n    mode : 'color' // optional for switching mode\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":160,"wires":[["cf3c0ab1b3cdab0b"]]},{"id":"69f43d337d1873a4","type":"inject","z":"f45ce90b3151803b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":200,"wires":[["6189b724bcf71b7a"]]},{"id":"6189b724bcf71b7a","type":"function","z":"f45ce90b3151803b","name":"green","func":"msg.payload =\n{\n    red : 0,\n    green : 255,\n    blue : 0,\n    white : 0,\n    temp : 6000, // optional 3000..6500K for white (shelly bulb RGBW)\n    brightness : 100,\n    gain : 100,\n    transition : 1000, // optional 0..5000ms\n    on : true,\n    mode : 'color' // optional for switching mode\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":200,"wires":[["cf3c0ab1b3cdab0b"]]},{"id":"679b7288fdac1da2","type":"inject","z":"f45ce90b3151803b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":240,"wires":[["114b8cdd7f8c573c"]]},{"id":"114b8cdd7f8c573c","type":"function","z":"f45ce90b3151803b","name":"blue","func":"msg.payload =\n{\n    red : 0,\n    green : 0,\n    blue : 255,\n    white : 0,\n    temp : 6000, // optional 3000..6500K for white (shelly bulb RGBW)\n    brightness : 100,\n    gain : 100,\n    transition : 1000, // optional 0..5000ms\n    on : true,\n    mode : 'color' // optional for switching mode\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":240,"wires":[["cf3c0ab1b3cdab0b"]]},{"id":"ab8dad85d2138b72","type":"comment","z":"f45ce90b3151803b","name":"Shelly Bulb RGBW example","info":"","x":200,"y":100,"wires":[]},{"id":"f6d61898be4cf096","type":"inject","z":"f45ce90b3151803b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":280,"wires":[["ef2b1f8b61a7f1ee"]]},{"id":"ef2b1f8b61a7f1ee","type":"function","z":"f45ce90b3151803b","name":"white 3000","func":"msg.payload =\n{\n    red : 0,\n    green : 0,\n    blue : 0,\n    white : 255,\n    temp : 3000, // optional 3000..6500K for white (shelly bulb RGBW)\n    brightness : 100,\n    gain : 100,\n    transition : 0, // optional 0..5000ms\n    on : true,\n    mode : 'white' // optional for switching mode\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":280,"wires":[["cf3c0ab1b3cdab0b"]]},{"id":"1296fb94b4e19778","type":"inject","z":"f45ce90b3151803b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":320,"wires":[["50ec8f5583883fcb"]]},{"id":"50ec8f5583883fcb","type":"function","z":"f45ce90b3151803b","name":"white 6500","func":"msg.payload =\n{\n    red : 0,\n    green : 0,\n    blue : 0,\n    white : 255,\n    temp : 6500, // optional 3000..6500K for white (shelly bulb RGBW)\n    brightness : 100,\n    gain : 100,\n    transition : 0, // optional 0..5000ms\n    on : true,\n    mode : 'white' // optional for switching mode\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":320,"wires":[["cf3c0ab1b3cdab0b"]]},{"id":"cf3c0ab1b3cdab0b","type":"shelly-gen1","z":"f45ce90b3151803b","hostname":"192.168.178.248","description":"","pollinginterval":5000,"pollstatus":false,"getstatusoncommand":true,"devicetype":"RGBW","outputs":1,"rgbwmode":"auto","x":630,"y":160,"wires":[["f00739aa9fbc9f54"]]}]