examples/bulbrgbw.json
[{"id":"a68aba6262cfc838","type":"shelly-rgbw2","z":"89e16d21b4d07ec8","hostname":"192.168.178.248","description":"RGBW (Bulb)","ledStat":true,"pollinginterval":"5000","mode":"none","x":620,"y":140,"wires":[["f00739aa9fbc9f54"]]},{"id":"f00739aa9fbc9f54","type":"debug","z":"89e16d21b4d07ec8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":140,"wires":[]},{"id":"5578872ace14f707","type":"inject","z":"89e16d21b4d07ec8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":140,"wires":[["00eff7cbea67d2a0"]]},{"id":"00eff7cbea67d2a0","type":"function","z":"89e16d21b4d07ec8","name":"red","func":"msg.payload =\n{\n    red : 255,\n    green : 0,\n    blue : 0,\n    white : 0,\n    temp : 5000, // optional 3000..6500K for white (shelly bulb RGBW)\n    brightness : 10,\n    gain : 10,\n    transition : 2000, // optional 0..5000ms\n    on : true,\n    mode : 'color' // optional for switching mode\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":140,"wires":[["a68aba6262cfc838"]]},{"id":"69f43d337d1873a4","type":"inject","z":"89e16d21b4d07ec8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":180,"wires":[["6189b724bcf71b7a"]]},{"id":"6189b724bcf71b7a","type":"function","z":"89e16d21b4d07ec8","name":"green","func":"msg.payload =\n{\n    red : 0,\n    green : 255,\n    blue : 0,\n    white : 0,\n    temp : 6000, // optional 3000..6500K for white (shelly bulb RGBW)\n    brightness : 100,\n    gain : 100,\n    transition : 1000, // optional 0..5000ms\n    on : true,\n    mode : 'color' // optional for switching mode\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":180,"wires":[["a68aba6262cfc838"]]},{"id":"679b7288fdac1da2","type":"inject","z":"89e16d21b4d07ec8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":220,"wires":[["114b8cdd7f8c573c"]]},{"id":"114b8cdd7f8c573c","type":"function","z":"89e16d21b4d07ec8","name":"blue","func":"msg.payload =\n{\n    red : 0,\n    green : 0,\n    blue : 255,\n    white : 0,\n    temp : 6000, // optional 3000..6500K for white (shelly bulb RGBW)\n    brightness : 100,\n    gain : 100,\n    transition : 1000, // optional 0..5000ms\n    on : true,\n    mode : 'color' // optional for switching mode\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":220,"wires":[["a68aba6262cfc838"]]},{"id":"ab8dad85d2138b72","type":"comment","z":"89e16d21b4d07ec8","name":"Shelly Bulb RGBW example","info":"","x":220,"y":80,"wires":[]},{"id":"f6d61898be4cf096","type":"inject","z":"89e16d21b4d07ec8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":260,"wires":[["ef2b1f8b61a7f1ee"]]},{"id":"ef2b1f8b61a7f1ee","type":"function","z":"89e16d21b4d07ec8","name":"white 3000","func":"msg.payload =\n{\n    red : 0,\n    green : 0,\n    blue : 0,\n    white : 255,\n    temp : 3000, // optional 3000..6500K for white (shelly bulb RGBW)\n    brightness : 100,\n    gain : 100,\n    transition : 0, // optional 0..5000ms\n    on : true,\n    mode : 'white' // optional for switching mode\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":260,"wires":[["a68aba6262cfc838"]]},{"id":"1296fb94b4e19778","type":"inject","z":"89e16d21b4d07ec8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":300,"wires":[["50ec8f5583883fcb"]]},{"id":"50ec8f5583883fcb","type":"function","z":"89e16d21b4d07ec8","name":"white 6500","func":"msg.payload =\n{\n    red : 0,\n    green : 0,\n    blue : 0,\n    white : 255,\n    temp : 6500, // optional 3000..6500K for white (shelly bulb RGBW)\n    brightness : 100,\n    gain : 100,\n    transition : 0, // optional 0..5000ms\n    on : true,\n    mode : 'white' // optional for switching mode\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":300,"wires":[["a68aba6262cfc838"]]}]