examples/bulbrgbw.json
[{"id":"7cdfa371647c2795","type":"debug","z":"0d338faf61a7ae48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":140,"wires":[]},{"id":"29804179040c7bad","type":"inject","z":"0d338faf61a7ae48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":140,"wires":[["3158a8abf05a6fb0"]]},{"id":"3158a8abf05a6fb0","type":"function","z":"0d338faf61a7ae48","name":"red","func":"msg.payload =\n{\n    red : 255,\n    green : 0,\n    blue : 0,\n    white : 0,\n    temp : 5000, // optional 3000..6500K for white (shelly bulb RGBW)\n    brightness : 10,\n    gain : 10,\n    transition : 2000, // optional 0..5000ms\n    on : true,\n    mode : 'color' // optional for switching mode\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":140,"wires":[["030957b550263848"]]},{"id":"af53087c494ce699","type":"inject","z":"0d338faf61a7ae48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":180,"wires":[["3f772c2b65dd15c3"]]},{"id":"3f772c2b65dd15c3","type":"function","z":"0d338faf61a7ae48","name":"green","func":"msg.payload =\n{\n    red : 0,\n    green : 255,\n    blue : 0,\n    white : 0,\n    temp : 6000, // optional 3000..6500K for white (shelly bulb RGBW)\n    brightness : 100,\n    gain : 100,\n    transition : 1000, // optional 0..5000ms\n    on : true,\n    mode : 'color' // optional for switching mode\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":180,"wires":[["030957b550263848"]]},{"id":"08e0bfcfdad8f832","type":"inject","z":"0d338faf61a7ae48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":220,"wires":[["bc630efddcc33427"]]},{"id":"bc630efddcc33427","type":"function","z":"0d338faf61a7ae48","name":"blue","func":"msg.payload =\n{\n    red : 0,\n    green : 0,\n    blue : 255,\n    white : 0,\n    temp : 6000, // optional 3000..6500K for white (shelly bulb RGBW)\n    brightness : 100,\n    gain : 100,\n    transition : 1000, // optional 0..5000ms\n    on : true,\n    mode : 'color' // optional for switching mode\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":220,"wires":[["030957b550263848"]]},{"id":"4beda4774dbbcdbc","type":"comment","z":"0d338faf61a7ae48","name":"Shelly Bulb RGBW example","info":"","x":220,"y":80,"wires":[]},{"id":"4cf1bb72eff18da6","type":"inject","z":"0d338faf61a7ae48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":260,"wires":[["2fb885fb34b66d13"]]},{"id":"2fb885fb34b66d13","type":"function","z":"0d338faf61a7ae48","name":"white 3000","func":"msg.payload =\n{\n    red : 0,\n    green : 0,\n    blue : 0,\n    white : 255,\n    temp : 3000, // optional 3000..6500K for white (shelly bulb RGBW)\n    brightness : 100,\n    gain : 100,\n    transition : 0, // optional 0..5000ms\n    on : true,\n    mode : 'white' // optional for switching mode\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":260,"wires":[["030957b550263848"]]},{"id":"1b862f66b8e9bdf5","type":"inject","z":"0d338faf61a7ae48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":300,"wires":[["8f6bfc7ecb34f0bc"]]},{"id":"8f6bfc7ecb34f0bc","type":"function","z":"0d338faf61a7ae48","name":"white 6500","func":"msg.payload =\n{\n    red : 0,\n    green : 0,\n    blue : 0,\n    white : 255,\n    temp : 6500, // optional 3000..6500K for white (shelly bulb RGBW)\n    brightness : 100,\n    gain : 100,\n    transition : 0, // optional 0..5000ms\n    on : true,\n    mode : 'white' // optional for switching mode\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":300,"wires":[["030957b550263848"]]},{"id":"030957b550263848","type":"shelly-gen1","z":"0d338faf61a7ae48","hostname":"192.168.178.248","description":"","mode":"polling","server":"033a6e9acf499057","uploadretryinterval":"5000","pollinginterval":5000,"pollstatus":false,"getstatusoncommand":true,"devicetype":"RGBW","outputs":1,"credentials":{"username":"","password":""},"x":650,"y":140,"wires":[["7cdfa371647c2795"]]},{"id":"033a6e9acf499057","type":"shelly-gen1-server","port":"20001","hostname":""}]