examples/bulbduo.json
[{"id":"f00739aa9fbc9f54","type":"debug","z":"f45ce90b3151803b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":200,"wires":[]},{"id":"ab8dad85d2138b72","type":"comment","z":"f45ce90b3151803b","name":"Shelly Bulb Duo example","info":"","x":170,"y":140,"wires":[]},{"id":"ef2b1f8b61a7f1ee","type":"function","z":"f45ce90b3151803b","name":"white 3000","func":"msg.payload =\n{\n    brightness : 100,\n    // white : 100,\n    temp : 3000, // optional 2700..6500K for white (shelly bulb duo)\n    transition : 0, // optional 0..5000ms\n    on : true\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":180,"wires":[["035d5b3222f3bebc"]]},{"id":"50ec8f5583883fcb","type":"function","z":"f45ce90b3151803b","name":"white 6500","func":"msg.payload =\n{\n    brightness : 100,\n    white : 100,\n    // temp : 6500, // optional 2700..6500K for white (shelly bulb duo)\n    transition : 0, // optional 0..5000ms\n    on : true\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":220,"wires":[["035d5b3222f3bebc"]]},{"id":"4b5203af9ec163fd","type":"inject","z":"f45ce90b3151803b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":180,"wires":[["ef2b1f8b61a7f1ee"]]},{"id":"06ef57fe460b6983","type":"inject","z":"f45ce90b3151803b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":220,"wires":[["50ec8f5583883fcb"]]},{"id":"035d5b3222f3bebc","type":"shelly-gen1","z":"f45ce90b3151803b","hostname":"192.168.178.247","description":"","pollinginterval":5000,"pollstatus":false,"getstatusoncommand":true,"devicetype":"Dimmer","outputs":1,"x":590,"y":200,"wires":[["f00739aa9fbc9f54"]]}]