examples/bulbduo.json
[{"id":"f00739aa9fbc9f54","type":"debug","z":"365debdef1efd315","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":480,"wires":[]},{"id":"ab8dad85d2138b72","type":"comment","z":"365debdef1efd315","name":"Shelly Bulb Duo example","info":"","x":210,"y":420,"wires":[]},{"id":"ef2b1f8b61a7f1ee","type":"function","z":"365debdef1efd315","name":"white 3000","func":"msg.payload =\n{\n    brightness : 100,\n    // white : 100,\n    temp : 3000, // optional 2700..6500K for white (shelly bulb duo)\n    transition : 0, // optional 0..5000ms\n    on : true\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":460,"wires":[["188b576fe203ba3b"]]},{"id":"50ec8f5583883fcb","type":"function","z":"365debdef1efd315","name":"white 6500","func":"msg.payload =\n{\n    brightness : 100,\n    white : 100,\n    // temp : 6500, // optional 2700..6500K for white (shelly bulb duo)\n    transition : 0, // optional 0..5000ms\n    on : true\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":500,"wires":[["188b576fe203ba3b"]]},{"id":"188b576fe203ba3b","type":"shelly-dimmer","z":"365debdef1efd315","hostname":"192.168.178.247","description":"Bulb Duo","dimmerStat":true,"pollinginterval":5000,"x":620,"y":480,"wires":[["f00739aa9fbc9f54"]]},{"id":"4b5203af9ec163fd","type":"inject","z":"365debdef1efd315","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":460,"wires":[["ef2b1f8b61a7f1ee"]]},{"id":"06ef57fe460b6983","type":"inject","z":"365debdef1efd315","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":500,"wires":[["50ec8f5583883fcb"]]}]