examples/buttonplus.json
[{"id":"c40fc366411bbd1f","type":"debug","z":"0d338faf61a7ae48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":180,"wires":[]},{"id":"f6551f44fb300cfa","type":"inject","z":"0d338faf61a7ae48","name":"Poll Status","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":380,"y":160,"wires":[["73006fad545458f8"]]},{"id":"73006fad545458f8","type":"shelly-gen2","z":"0d338faf61a7ae48","hostname":"192.168.178.236","description":"","mode":"polling","server":"04263f2d054cc2a1","uploadretryinterval":"5000","pollinginterval":5000,"pollstatus":false,"getstatusoncommand":false,"devicetype":"Button","outputs":1,"credentials":{"password":""},"x":730,"y":180,"wires":[["c40fc366411bbd1f"]]},{"id":"a9b35021ba7ac015","type":"function","z":"0d338faf61a7ae48","name":"id 0","func":"msg.payload = {\n    method: \"Input.GetConfig\",\n    parameters : {\n        id : 0,\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":220,"wires":[["73006fad545458f8"]]},{"id":"ee1a25329eebd9b0","type":"inject","z":"0d338faf61a7ae48","name":"Get Config","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":380,"y":220,"wires":[["a9b35021ba7ac015"]]},{"id":"7fc037bbaf296fb2","type":"function","z":"0d338faf61a7ae48","name":"id 0","func":"msg.payload = {\n    method: \"Input.SetConfig\",\n    parameters : {\n        id : 0,\n        config : {\n            name : \"button\",\n            // type : \"switch\", // or button\n            // invert : false,\n        }\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":260,"wires":[["73006fad545458f8"]]},{"id":"1cfb39123b05cdec","type":"inject","z":"0d338faf61a7ae48","name":"Set Config","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":380,"y":260,"wires":[["7fc037bbaf296fb2"]]},{"id":"04263f2d054cc2a1","type":"shelly-gen2-server","port":"10001","hostname":"unimatrix"}]