examples/buttonplus.json
[{"id":"c40fc366411bbd1f","type":"debug","z":"f45ce90b3151803b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":320,"wires":[]},{"id":"f6551f44fb300cfa","type":"inject","z":"f45ce90b3151803b","name":"Poll Status","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":300,"wires":[["73006fad545458f8"]]},{"id":"73006fad545458f8","type":"shelly-gen2","z":"f45ce90b3151803b","hostname":"192.168.178.236","description":"","pollinginterval":5000,"pollstatus":false,"getstatusoncommand":false,"devicetype":"Button","outputs":1,"x":750,"y":320,"wires":[["c40fc366411bbd1f"]]},{"id":"a9b35021ba7ac015","type":"function","z":"f45ce90b3151803b","name":"id 0","func":"msg.payload = {\n    method: \"Input.GetConfig\",\n    parameters : {\n        id : 0,\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":360,"wires":[["73006fad545458f8"]]},{"id":"ee1a25329eebd9b0","type":"inject","z":"f45ce90b3151803b","name":"Get Config","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":360,"wires":[["a9b35021ba7ac015"]]},{"id":"7fc037bbaf296fb2","type":"function","z":"f45ce90b3151803b","name":"id 0","func":"msg.payload = {\n    method: \"Input.SetConfig\",\n    parameters : {\n        id : 0,\n        config : {\n            name : \"button\",\n            // type : \"switch\", // or button\n            // invert : false,\n        }\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":400,"wires":[["73006fad545458f8"]]},{"id":"1cfb39123b05cdec","type":"inject","z":"f45ce90b3151803b","name":"Set Config","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":400,"wires":[["7fc037bbaf296fb2"]]}]