examples/button.json
[{"id":"88a8cebee342424a","type":"debug","z":"0d338faf61a7ae48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":160,"wires":[]},{"id":"e4936c306f604a7f","type":"function","z":"0d338faf61a7ae48","name":"short push","func":"msg.payload = {\n    input : 0,\n    event : 'S'\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":160,"wires":[["0d95a39baad8a09f"]]},{"id":"c06326c5f4337c7b","type":"inject","z":"0d338faf61a7ae48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":194.99413108825684,"y":160.193359375,"wires":[["e4936c306f604a7f"]]},{"id":"2c5253628c3ae462","type":"inject","z":"0d338faf61a7ae48","name":"Poll Status","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":100,"wires":[["0d95a39baad8a09f"]]},{"id":"5e17f3220af66704","type":"function","z":"0d338faf61a7ae48","name":"double short push","func":"msg.payload = {\n    input : 0,\n    event : 'SS'\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":220,"wires":[["0d95a39baad8a09f"]]},{"id":"d3a39347c8bd6321","type":"inject","z":"0d338faf61a7ae48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":194.99413108825684,"y":220.193359375,"wires":[["5e17f3220af66704"]]},{"id":"ff97dc87c881d038","type":"function","z":"0d338faf61a7ae48","name":"triple short push","func":"msg.payload = {\n    input : 0,\n    event : 'SSS'\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":280,"wires":[["0d95a39baad8a09f"]]},{"id":"2c40f7cced7e14a9","type":"inject","z":"0d338faf61a7ae48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":194.99413108825684,"y":280.193359375,"wires":[["ff97dc87c881d038"]]},{"id":"73d69ff4f36ddc17","type":"function","z":"0d338faf61a7ae48","name":"long push","func":"msg.payload = {\n    input : 0,\n    event : 'L'\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":340,"wires":[["0d95a39baad8a09f"]]},{"id":"a07b3eaa89f5ed35","type":"inject","z":"0d338faf61a7ae48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":194.99413108825684,"y":340.193359375,"wires":[["73d69ff4f36ddc17"]]},{"id":"0d95a39baad8a09f","type":"shelly-gen1","z":"0d338faf61a7ae48","hostname":"192.168.178.188","description":"","mode":"polling","server":"033a6e9acf499057","uploadretryinterval":"5000","pollinginterval":5000,"pollstatus":false,"getstatusoncommand":true,"devicetype":"Button","outputs":1,"credentials":{"username":"","password":""},"x":710,"y":160,"wires":[["88a8cebee342424a"]]},{"id":"033a6e9acf499057","type":"shelly-gen1-server","port":"20001","hostname":""}]