examples/button.json
[{"id":"c72ba1dea158326f","type":"shelly-button","z":"2a01c586770210e4","hostname":"192.168.178.188","description":"Button","pollinginterval":1000,"pollstatus":false,"outputs":1,"x":550,"y":120,"wires":[["a9a4cecf.d695d"]]},{"id":"a9a4cecf.d695d","type":"debug","z":"2a01c586770210e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":120,"wires":[]},{"id":"db6d4879.e58638","type":"function","z":"2a01c586770210e4","name":"short push","func":"msg.payload = {\n    input : 0,\n    event : 'S'\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":120,"wires":[["c72ba1dea158326f"]]},{"id":"8e633731.bcb388","type":"inject","z":"2a01c586770210e4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":104.99413108825684,"y":120.193359375,"wires":[["db6d4879.e58638"]]},{"id":"475a1574.c2a66c","type":"inject","z":"2a01c586770210e4","name":"Poll Status","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":60,"wires":[["c72ba1dea158326f"]]},{"id":"d7cab45765d6779b","type":"function","z":"2a01c586770210e4","name":"double short push","func":"msg.payload = {\n    input : 0,\n    event : 'SS'\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":180,"wires":[["c72ba1dea158326f"]]},{"id":"e67a44f2448fa746","type":"inject","z":"2a01c586770210e4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":104.99413108825684,"y":180.193359375,"wires":[["d7cab45765d6779b"]]},{"id":"72a7b8aee56107e6","type":"function","z":"2a01c586770210e4","name":"triple short push","func":"msg.payload = {\n    input : 0,\n    event : 'SSS'\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":240,"wires":[["c72ba1dea158326f"]]},{"id":"6ae0eeb1a5c00c30","type":"inject","z":"2a01c586770210e4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":104.99413108825684,"y":240.193359375,"wires":[["72a7b8aee56107e6"]]},{"id":"799a672f23b7a92c","type":"function","z":"2a01c586770210e4","name":"long push","func":"msg.payload = {\n    input : 0,\n    event : 'L'\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":300,"wires":[["c72ba1dea158326f"]]},{"id":"d9488f0e41af9d56","type":"inject","z":"2a01c586770210e4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":104.99413108825684,"y":300.193359375,"wires":[["799a672f23b7a92c"]]}]