examples/button.json
[{"id":"a9a4cecf.d695d","type":"debug","z":"f45ce90b3151803b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":160,"wires":[]},{"id":"db6d4879.e58638","type":"function","z":"f45ce90b3151803b","name":"short push","func":"msg.payload = {\n    input : 0,\n    event : 'S'\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":160,"wires":[["1f573d1d1f88d34a"]]},{"id":"8e633731.bcb388","type":"inject","z":"f45ce90b3151803b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":154.99413108825684,"y":160.193359375,"wires":[["db6d4879.e58638"]]},{"id":"475a1574.c2a66c","type":"inject","z":"f45ce90b3151803b","name":"Poll Status","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":100,"wires":[["1f573d1d1f88d34a"]]},{"id":"d7cab45765d6779b","type":"function","z":"f45ce90b3151803b","name":"double short push","func":"msg.payload = {\n    input : 0,\n    event : 'SS'\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":220,"wires":[["1f573d1d1f88d34a"]]},{"id":"e67a44f2448fa746","type":"inject","z":"f45ce90b3151803b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":154.99413108825684,"y":220.193359375,"wires":[["d7cab45765d6779b"]]},{"id":"72a7b8aee56107e6","type":"function","z":"f45ce90b3151803b","name":"triple short push","func":"msg.payload = {\n    input : 0,\n    event : 'SSS'\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":280,"wires":[["1f573d1d1f88d34a"]]},{"id":"6ae0eeb1a5c00c30","type":"inject","z":"f45ce90b3151803b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":154.99413108825684,"y":280.193359375,"wires":[["72a7b8aee56107e6"]]},{"id":"799a672f23b7a92c","type":"function","z":"f45ce90b3151803b","name":"long push","func":"msg.payload = {\n    input : 0,\n    event : 'L'\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":340,"wires":[["1f573d1d1f88d34a"]]},{"id":"d9488f0e41af9d56","type":"inject","z":"f45ce90b3151803b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":154.99413108825684,"y":340.193359375,"wires":[["799a672f23b7a92c"]]},{"id":"1f573d1d1f88d34a","type":"shelly-gen1","z":"f45ce90b3151803b","hostname":"192.168.178.188","description":"","pollinginterval":5000,"pollstatus":false,"getstatusoncommand":true,"devicetype":"Button","outputs":1,"rgbwmode":"color","x":670,"y":160,"wires":[["a9a4cecf.d695d"]]}]