examples/cloud.json
[{"id":"59ef86547c6033f9","type":"shelly-cloud","z":"3d8bc5187eb93fc0","server":"46da28b11bef0677","description":"","outputs":1,"x":610,"y":480,"wires":[["c80362c488bd1203"]]},{"id":"f27212d4827fa5fd","type":"inject","z":"3d8bc5187eb93fc0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":360,"wires":[["f63313f19040ee7d"]]},{"id":"c80362c488bd1203","type":"debug","z":"3d8bc5187eb93fc0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":480,"wires":[]},{"id":"f63313f19040ee7d","type":"function","z":"3d8bc5187eb93fc0","name":"light on","func":"msg.payload = {\n    type : 'light',\n    channel : 0,\n    \n    id : '8caab55397c7',\n    turn : 'on',\n    \n    // see also\n    // brightness : 0,\n    // white : 0,\n    // red : 0,\n    // green : 0,\n    // blue : 0\n    // gain : 0\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":360,"wires":[["59ef86547c6033f9"]]},{"id":"56839b7230e43ece","type":"function","z":"3d8bc5187eb93fc0","name":"light off","func":"msg.payload = {\n    type : 'light',\n    channel : 0,\n    \n    id : '8caab55397c7',\n    turn : 'off',\n    \n    // see also\n    // brightness : 0,\n    // white : 0,\n    // red : 0,\n    // green : 0,\n    // blue : 0\n    // gain : 0\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":400,"wires":[["59ef86547c6033f9"]]},{"id":"999da406f3af62e2","type":"inject","z":"3d8bc5187eb93fc0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":400,"wires":[["56839b7230e43ece"]]},{"id":"a7a9351982252825","type":"inject","z":"3d8bc5187eb93fc0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":460,"wires":[["1460bce31c1f8921"]]},{"id":"1460bce31c1f8921","type":"function","z":"3d8bc5187eb93fc0","name":"relay on","func":"msg.payload = {\n    type : 'relay',\n    channel : 0,\n    \n    id : 'F13f0d',\n    turn : 'on',\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":460,"wires":[["59ef86547c6033f9"]]},{"id":"3e0d339b4728d910","type":"function","z":"3d8bc5187eb93fc0","name":"relay off","func":"msg.payload = {\n    type : 'relay',\n    channel : 0,\n    \n    id : 'F13f0d',\n    turn : 'off',\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":500,"wires":[["59ef86547c6033f9"]]},{"id":"0da2cc6ecddac95b","type":"inject","z":"3d8bc5187eb93fc0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":500,"wires":[["3e0d339b4728d910"]]},{"id":"5e1ef601832f9fe8","type":"comment","z":"3d8bc5187eb93fc0","name":"","info":"// see https://shelly-api-docs.shelly.cloud/cloud-control-api/communication\n","x":200,"y":200,"wires":[]},{"id":"c300f38158b7bf0a","type":"inject","z":"3d8bc5187eb93fc0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":560,"wires":[["bc8c4055ab3e92c0"]]},{"id":"bc8c4055ab3e92c0","type":"function","z":"3d8bc5187eb93fc0","name":"roller 80%","func":"msg.payload = {\n    type : 'roller',\n    channel : 0,\n    \n    id : '...',\n    pos : '80',\n    \n    // see also \n    // direction : open close stop\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":560,"wires":[["59ef86547c6033f9"]]},{"id":"8ea81501047d27f8","type":"inject","z":"3d8bc5187eb93fc0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":600,"wires":[["777e1e521bbac812"]]},{"id":"777e1e521bbac812","type":"function","z":"3d8bc5187eb93fc0","name":"roller 0%","func":"msg.payload = {\n    type : 'roller',\n    channel : 0,\n    \n    id : '...',\n    pos : '0',\n    \n    // see also \n    // direction : open close stop\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":600,"wires":[["59ef86547c6033f9"]]},{"id":"1e92381277859f81","type":"inject","z":"3d8bc5187eb93fc0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":660,"wires":[["3b8e454479a6972f"]]},{"id":"3b8e454479a6972f","type":"function","z":"3d8bc5187eb93fc0","name":"relays on","func":"msg.payload = {\n    type : 'relays',\n    turn : 'on',\n\n    devices : [{\n        id : 'F13f0d',\n        channel : '0',\n    }]\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":660,"wires":[["59ef86547c6033f9"]]},{"id":"815bfdcf89f4597c","type":"function","z":"3d8bc5187eb93fc0","name":"relays off","func":"msg.payload = {\n    type : 'relays',\n    turn : 'off',\n    \n    devices : [{\n        id : 'F13f0d',\n        channel : '0',\n    }]\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":700,"wires":[["59ef86547c6033f9"]]},{"id":"f08faabb0814ead2","type":"inject","z":"3d8bc5187eb93fc0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":700,"wires":[["815bfdcf89f4597c"]]},{"id":"7a250c5d819c8c0c","type":"inject","z":"3d8bc5187eb93fc0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":300,"wires":[["c2922cf8e81ff309"]]},{"id":"c2922cf8e81ff309","type":"function","z":"3d8bc5187eb93fc0","name":"status all","func":"msg.payload = {\n    type: 'all_status'\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":300,"wires":[["59ef86547c6033f9"]]},{"id":"a06d79aad7b82708","type":"inject","z":"3d8bc5187eb93fc0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":260,"wires":[["7944f727384c2184"]]},{"id":"7944f727384c2184","type":"function","z":"3d8bc5187eb93fc0","name":"status","func":"msg.payload = {\n    type : 'status',\n    id: 'bcddc277a838'\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":260,"wires":[["59ef86547c6033f9"]]},{"id":"46da28b11bef0677","type":"shelly-cloud-server","description":""}]