examples/cloud.json
[{"id":"24478206439723cf","type":"shelly-cloud","z":"3d8bc5187eb93fc0","server":"46da28b11bef0677","description":"","outputs":1,"x":530,"y":420,"wires":[["87f25c1f03f2ea51"]]},{"id":"af310bf981dcfe86","type":"inject","z":"3d8bc5187eb93fc0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":300,"wires":[["a0a876d89193603d"]]},{"id":"87f25c1f03f2ea51","type":"debug","z":"3d8bc5187eb93fc0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":420,"wires":[]},{"id":"a0a876d89193603d","type":"function","z":"3d8bc5187eb93fc0","name":"light on","func":"msg.payload = {\n    type : 'light',\n    channel : 0,\n    \n    id : '8caab55397c7',\n    turn : 'on',\n    \n    // see also\n    // brightness : 0,\n    // white : 0,\n    // red : 0,\n    // green : 0,\n    // blue : 0\n    // gain : 0\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":300,"wires":[["24478206439723cf"]]},{"id":"c7b829258ab69dcd","type":"function","z":"3d8bc5187eb93fc0","name":"light off","func":"msg.payload = {\n    type : 'light',\n    channel : 0,\n    \n    id : '8caab55397c7',\n    turn : 'off',\n    \n    // see also\n    // brightness : 0,\n    // white : 0,\n    // red : 0,\n    // green : 0,\n    // blue : 0\n    // gain : 0\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":340,"wires":[["24478206439723cf"]]},{"id":"efd08433b4011f91","type":"inject","z":"3d8bc5187eb93fc0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":340,"wires":[["c7b829258ab69dcd"]]},{"id":"d34a1e57e41bb6a2","type":"inject","z":"3d8bc5187eb93fc0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":400,"wires":[["0cea585ae5f0fd06"]]},{"id":"0cea585ae5f0fd06","type":"function","z":"3d8bc5187eb93fc0","name":"relay on","func":"msg.payload = {\n    type : 'relay',\n    channel : 0,\n    \n    id : 'F13f0d',\n    turn : 'on',\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":400,"wires":[["24478206439723cf"]]},{"id":"a4b32cc943d61bc0","type":"function","z":"3d8bc5187eb93fc0","name":"relay off","func":"msg.payload = {\n    type : 'relay',\n    channel : 0,\n    \n    id : 'F13f0d',\n    turn : 'off',\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":440,"wires":[["24478206439723cf"]]},{"id":"17105d5b43df3bc5","type":"inject","z":"3d8bc5187eb93fc0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":440,"wires":[["a4b32cc943d61bc0"]]},{"id":"2e9574d75fb35f32","type":"comment","z":"3d8bc5187eb93fc0","name":"","info":"// see https://shelly-api-docs.shelly.cloud/cloud-control-api/communication\n","x":140,"y":260,"wires":[]},{"id":"e1dad63c08bc265e","type":"inject","z":"3d8bc5187eb93fc0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":500,"wires":[["0e3b1973509902da"]]},{"id":"0e3b1973509902da","type":"function","z":"3d8bc5187eb93fc0","name":"roller 80%","func":"msg.payload = {\n    type : 'roller',\n    channel : 0,\n    \n    id : '...',\n    pos : '80',\n    \n    // see also \n    // direction : open close stop\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":500,"wires":[["24478206439723cf"]]},{"id":"ea57af39ee6b7540","type":"inject","z":"3d8bc5187eb93fc0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":540,"wires":[["f35b2c678ad63e3f"]]},{"id":"f35b2c678ad63e3f","type":"function","z":"3d8bc5187eb93fc0","name":"roller 0%","func":"msg.payload = {\n    type : 'roller',\n    channel : 0,\n    \n    id : '...',\n    pos : '0',\n    \n    // see also \n    // direction : open close stop\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":540,"wires":[["24478206439723cf"]]},{"id":"b0ef6591d077580c","type":"inject","z":"3d8bc5187eb93fc0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":600,"wires":[["2aa48d0dbac7bbb3"]]},{"id":"2aa48d0dbac7bbb3","type":"function","z":"3d8bc5187eb93fc0","name":"relays on","func":"msg.payload = {\n    type : 'relays',\n    turn : 'on',\n\n    devices : [{\n        id : 'F13f0d',\n        channel : '0',\n    }]\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":600,"wires":[["24478206439723cf"]]},{"id":"9053635c722588a3","type":"function","z":"3d8bc5187eb93fc0","name":"relays off","func":"msg.payload = {\n    type : 'relays',\n    turn : 'off',\n    \n    devices : [{\n        id : 'F13f0d',\n        channel : '0',\n    }]\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":640,"wires":[["24478206439723cf"]]},{"id":"c8882235791c04c8","type":"inject","z":"3d8bc5187eb93fc0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":640,"wires":[["9053635c722588a3"]]},{"id":"46da28b11bef0677","type":"shelly-cloud-server","description":"","credentials":{}}]