examples/cloud.json
[{"id":"67151b7d3283ab91","type":"shelly-cloud","z":"8b03c2fe854ef2fd","server":"46da28b11bef0677","description":"","outputs":1,"x":750,"y":440,"wires":[["00ae4e9d02b673b1"]]},{"id":"256e9fe84dc0e6e4","type":"inject","z":"8b03c2fe854ef2fd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":360,"y":320,"wires":[["4d9b749b5d9aaf79"]]},{"id":"00ae4e9d02b673b1","type":"debug","z":"8b03c2fe854ef2fd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":440,"wires":[]},{"id":"4d9b749b5d9aaf79","type":"function","z":"8b03c2fe854ef2fd","name":"light on","func":"msg.payload = {\n    type : 'light',\n    channel : 0,\n    \n    id : '8caab55397c7',\n    turn : 'on',\n    \n    // see also\n    // brightness : 0,\n    // white : 0,\n    // red : 0,\n    // green : 0,\n    // blue : 0\n    // gain : 0\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":320,"wires":[["67151b7d3283ab91"]]},{"id":"3e2a54b54bbd0912","type":"function","z":"8b03c2fe854ef2fd","name":"light off","func":"msg.payload = {\n    type : 'light',\n    channel : 0,\n    \n    id : '8caab55397c7',\n    turn : 'off',\n    \n    // see also\n    // brightness : 0,\n    // white : 0,\n    // red : 0,\n    // green : 0,\n    // blue : 0\n    // gain : 0\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":360,"wires":[["67151b7d3283ab91"]]},{"id":"d6e9efef9cb387c5","type":"inject","z":"8b03c2fe854ef2fd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":360,"y":360,"wires":[["3e2a54b54bbd0912"]]},{"id":"26011e50fbaeeba6","type":"inject","z":"8b03c2fe854ef2fd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":360,"y":420,"wires":[["2cad1ff50c2a1666"]]},{"id":"2cad1ff50c2a1666","type":"function","z":"8b03c2fe854ef2fd","name":"relay on","func":"msg.payload = {\n    type : 'relay',\n    channel : 0,\n    \n    id : 'F13f0d',\n    turn : 'on',\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":420,"wires":[["67151b7d3283ab91"]]},{"id":"2f4f8492e1e2fe82","type":"function","z":"8b03c2fe854ef2fd","name":"relay off","func":"msg.payload = {\n    type : 'relay',\n    channel : 0,\n    \n    id : 'F13f0d',\n    turn : 'off',\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":460,"wires":[["67151b7d3283ab91"]]},{"id":"01d56d049bd78ea8","type":"inject","z":"8b03c2fe854ef2fd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":360,"y":460,"wires":[["2f4f8492e1e2fe82"]]},{"id":"396277be24a38f1f","type":"comment","z":"8b03c2fe854ef2fd","name":"","info":"// see https://shelly-api-docs.shelly.cloud/cloud-control-api/communication\n","x":340,"y":160,"wires":[]},{"id":"270440c87cccdb97","type":"inject","z":"8b03c2fe854ef2fd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":360,"y":520,"wires":[["55bf3e433261a9ae"]]},{"id":"55bf3e433261a9ae","type":"function","z":"8b03c2fe854ef2fd","name":"roller 80%","func":"msg.payload = {\n    type : 'roller',\n    channel : 0,\n    \n    id : '...',\n    pos : '80',\n    \n    // see also \n    // direction : open close stop\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":520,"wires":[["67151b7d3283ab91"]]},{"id":"f448bd2cb6717f8b","type":"inject","z":"8b03c2fe854ef2fd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":360,"y":560,"wires":[["c37ee3c1e961a74a"]]},{"id":"c37ee3c1e961a74a","type":"function","z":"8b03c2fe854ef2fd","name":"roller 0%","func":"msg.payload = {\n    type : 'roller',\n    channel : 0,\n    \n    id : '...',\n    pos : '0',\n    \n    // see also \n    // direction : open close stop\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":560,"wires":[["67151b7d3283ab91"]]},{"id":"096c401b56b8ea5e","type":"inject","z":"8b03c2fe854ef2fd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":360,"y":620,"wires":[["681a443d1412fbe0"]]},{"id":"681a443d1412fbe0","type":"function","z":"8b03c2fe854ef2fd","name":"relays on","func":"msg.payload = {\n    type : 'relays',\n    turn : 'on',\n\n    devices : [{\n        id : 'F13f0d',\n        channel : '0',\n    }]\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":620,"wires":[["67151b7d3283ab91"]]},{"id":"26e92be748e40b6b","type":"function","z":"8b03c2fe854ef2fd","name":"relays off","func":"msg.payload = {\n    type : 'relays',\n    turn : 'off',\n    \n    devices : [{\n        id : 'F13f0d',\n        channel : '0',\n    }]\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":660,"wires":[["67151b7d3283ab91"]]},{"id":"3c27aea055845fd4","type":"inject","z":"8b03c2fe854ef2fd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":360,"y":660,"wires":[["26e92be748e40b6b"]]},{"id":"c145b236970a3ff4","type":"inject","z":"8b03c2fe854ef2fd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":360,"y":260,"wires":[["8ab8f7e4620bb37f"]]},{"id":"8ab8f7e4620bb37f","type":"function","z":"8b03c2fe854ef2fd","name":"status all","func":"msg.payload = {\n    type : 'status_all'\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":260,"wires":[["67151b7d3283ab91"]]},{"id":"07598bf542b6d779","type":"inject","z":"8b03c2fe854ef2fd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":360,"y":220,"wires":[["e2aeae72c9ca1ac8"]]},{"id":"e2aeae72c9ca1ac8","type":"function","z":"8b03c2fe854ef2fd","name":"status","func":"msg.payload = {\n    type : 'status',\n    id : '8caab55397c7'\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":220,"wires":[["67151b7d3283ab91"]]},{"id":"46da28b11bef0677","type":"shelly-cloud-server","description":""}]