examples/components.json
[{"id":"5ae5ea9d59cabfd2","type":"shelly-gen2","z":"62a53d6e4cbdfb9a","hostname":"192.168.178.127","description":"Sample Gen3 Device","mode":"callback","verbose":false,"server":"7f2759a4fe573634","outputmode":"event","uploadretryinterval":5000,"pollinginterval":5000,"pollstatus":false,"getstatusoncommand":false,"devicetype":"S3SW-001P8EU","devicetypemustmatchexactly":false,"captureblutooth":true,"outputs":1,"x":620,"y":140,"wires":[["88aae314b7307617"]]},{"id":"54ed374b04f03d77","type":"function","z":"62a53d6e4cbdfb9a","name":"id 0","func":"msg.payload = {\n    method: \"Shelly.GetComponents\",\n    parameters : {\n        id : 1,\n    }\n};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":140,"wires":[["5ae5ea9d59cabfd2"]]},{"id":"986dbc608782e689","type":"inject","z":"62a53d6e4cbdfb9a","name":"Get Components","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":140,"wires":[["54ed374b04f03d77"]]},{"id":"88aae314b7307617","type":"debug","z":"62a53d6e4cbdfb9a","name":"debug 39","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":140,"wires":[]},{"id":"7f2759a4fe573634","type":"shelly-gen2-server","port":"20000","hostname":"","hostip":"192.168.178.121"}]