examples/dimmer.json
[{"id":"a9a4cecf.d695d","type":"debug","z":"f45ce90b3151803b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":120,"wires":[]},{"id":"db6d4879.e58638","type":"function","z":"f45ce90b3151803b","name":"on","func":"msg.payload = {\n    on:true\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":140,"wires":[["55d2b0645b79d96e"]]},{"id":"af12ed91.db36b","type":"function","z":"f45ce90b3151803b","name":"off","func":"msg.payload = {\n    on:false\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":180,"wires":[["55d2b0645b79d96e"]]},{"id":"8e633731.bcb388","type":"inject","z":"f45ce90b3151803b","name":"Turn On","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":140,"wires":[["db6d4879.e58638"]]},{"id":"b92f1fa1.28369","type":"inject","z":"f45ce90b3151803b","name":"Turn Off","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":180,"wires":[["af12ed91.db36b"]]},{"id":"475a1574.c2a66c","type":"inject","z":"f45ce90b3151803b","name":"Poll Status","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":120,"y":100,"wires":[["55d2b0645b79d96e"]]},{"id":"1ccaf065.29865","type":"function","z":"f45ce90b3151803b","name":"toggle","func":"msg.payload = {\n    turn:\"toggle\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":220,"wires":[["55d2b0645b79d96e"]]},{"id":"de899240.f2c4e","type":"inject","z":"f45ce90b3151803b","name":"Toggle","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":220,"wires":[["1ccaf065.29865"]]},{"id":"ed0bf2d6.f3932","type":"function","z":"f45ce90b3151803b","name":"brightness 100%","func":"msg.payload = {\nbrightness: 100\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":260,"wires":[["55d2b0645b79d96e"]]},{"id":"842a219.3160ee","type":"inject","z":"f45ce90b3151803b","name":"Brightness","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":260,"wires":[["ed0bf2d6.f3932"]]},{"id":"67cdf690.5db298","type":"function","z":"f45ce90b3151803b","name":"brightness 25%","func":"msg.payload = {\nbrightness: 25\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":300,"wires":[["55d2b0645b79d96e"]]},{"id":"642f3344.ad757c","type":"inject","z":"f45ce90b3151803b","name":"Brightness","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":300,"wires":[["67cdf690.5db298"]]},{"id":"abaad9ff.284e08","type":"function","z":"f45ce90b3151803b","name":"turn on & set brightness 60%","func":"msg.payload = {\n    on : true,\n    brightness: 60\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":340,"wires":[["55d2b0645b79d96e"]]},{"id":"fca6f758.5a99b8","type":"inject","z":"f45ce90b3151803b","name":"Combined","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":340,"wires":[["abaad9ff.284e08"]]},{"id":"55d2b0645b79d96e","type":"shelly-gen1","z":"f45ce90b3151803b","hostname":"192.168.178.247","description":"","pollinginterval":5000,"pollstatus":false,"getstatusoncommand":true,"devicetype":"Dimmer","outputs":1,"x":590,"y":120,"wires":[["a9a4cecf.d695d"]]}]