examples/dimmer.json
[{"id":"5389b09ce6d34f01","type":"debug","z":"b25784ff8a20bc53","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":160,"wires":[]},{"id":"aeb4c2cae80da838","type":"function","z":"b25784ff8a20bc53","name":"on","func":"msg.payload = {\n    on:true\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":180,"wires":[["a851200deef68f86"]]},{"id":"cb63debaf7f8cc7a","type":"function","z":"b25784ff8a20bc53","name":"off","func":"msg.payload = {\n    on:false\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":220,"wires":[["a851200deef68f86"]]},{"id":"a2c586bfef493ba4","type":"inject","z":"b25784ff8a20bc53","name":"Turn On","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":180,"wires":[["aeb4c2cae80da838"]]},{"id":"aa0ecc89becb52b6","type":"inject","z":"b25784ff8a20bc53","name":"Turn Off","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":220,"wires":[["cb63debaf7f8cc7a"]]},{"id":"2cf86b714691d6aa","type":"inject","z":"b25784ff8a20bc53","name":"Poll Status","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":220,"y":120,"wires":[["a851200deef68f86"]]},{"id":"3340ffcb8fc86c54","type":"function","z":"b25784ff8a20bc53","name":"toggle","func":"msg.payload = {\n    turn:\"toggle\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":260,"wires":[["a851200deef68f86"]]},{"id":"0ea0fceb5bc1b8f8","type":"inject","z":"b25784ff8a20bc53","name":"Toggle","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":260,"wires":[["3340ffcb8fc86c54"]]},{"id":"e2e90ad3b39f30fb","type":"function","z":"b25784ff8a20bc53","name":"brightness 100%","func":"msg.payload = {\nbrightness: 100\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":300,"wires":[["a851200deef68f86"]]},{"id":"5cd3246ee54df257","type":"inject","z":"b25784ff8a20bc53","name":"Brightness","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":300,"wires":[["e2e90ad3b39f30fb"]]},{"id":"bbfe7de807db8d9d","type":"function","z":"b25784ff8a20bc53","name":"brightness 25%","func":"msg.payload = {\nbrightness: 25\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":340,"wires":[["a851200deef68f86"]]},{"id":"c3dabccd82633861","type":"inject","z":"b25784ff8a20bc53","name":"Brightness","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":340,"wires":[["bbfe7de807db8d9d"]]},{"id":"784a23f5f04fe49d","type":"function","z":"b25784ff8a20bc53","name":"turn on & set brightness 60%","func":"msg.payload = {\n    on : true,\n    brightness: 60\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":380,"wires":[["a851200deef68f86"]]},{"id":"84b0058013cd5e99","type":"inject","z":"b25784ff8a20bc53","name":"Combined","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":380,"wires":[["784a23f5f04fe49d"]]},{"id":"a851200deef68f86","type":"shelly-gen1","z":"b25784ff8a20bc53","hostname":"192.168.178.142","description":"","mode":"polling","server":"033a6e9acf499057","outputmode":"status","uploadretryinterval":"5000","pollinginterval":5000,"pollstatus":false,"getstatusoncommand":true,"devicetype":"Dimmer","outputs":1,"x":690,"y":160,"wires":[["5389b09ce6d34f01"]]},{"id":"cde543a45872eba4","type":"function","z":"b25784ff8a20bc53","name":"on 2s","func":"msg.payload = {\n    on:true,\n    brightness: 100,\n    transition: 1000, // optional 0..5000ms\n    timer: 2\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":420,"wires":[["a851200deef68f86"]]},{"id":"21765d5065807b6a","type":"function","z":"b25784ff8a20bc53","name":"up 10%","func":"msg.payload = {\n    dim : 'up',\n    step : 10, // %\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":460,"wires":[["a851200deef68f86"]]},{"id":"f23c3049caf67f07","type":"inject","z":"b25784ff8a20bc53","name":"Turn On","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":420,"wires":[["cde543a45872eba4"]]},{"id":"70d0d15752323197","type":"inject","z":"b25784ff8a20bc53","name":"Dim Up","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":460,"wires":[["21765d5065807b6a"]]},{"id":"dcd652864f8a15d5","type":"function","z":"b25784ff8a20bc53","name":"down 10%","func":"msg.payload = {\n    dim : 'down',\n    step : 10, // %\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":500,"wires":[["a851200deef68f86"]]},{"id":"828232e21c455142","type":"inject","z":"b25784ff8a20bc53","name":"Dim Down","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":500,"wires":[["dcd652864f8a15d5"]]},{"id":"4d828a1702a46719","type":"function","z":"b25784ff8a20bc53","name":"stop","func":"msg.payload = {\n    dim : 'stop',\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":540,"wires":[["a851200deef68f86"]]},{"id":"a8a4fae7ed7cb40c","type":"inject","z":"b25784ff8a20bc53","name":"Dim Stop","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":540,"wires":[["4d828a1702a46719"]]},{"id":"033a6e9acf499057","type":"shelly-gen1-server","port":"20001","hostname":"aaa","hostip":""}]