examples/dimmerplus.json
[{"id":"2f88b4f340b65e3d","type":"debug","z":"62a53d6e4cbdfb9a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":140,"wires":[]},{"id":"242b5acf119422c3","type":"function","z":"62a53d6e4cbdfb9a","name":"0 on","func":"msg.payload = {\n    method: \"Light.Set\",\n    parameters : {\n        id : 0,\n        on : true,\n        // toggle_after : 2 // optional flip back time in seconds\n    }\n};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":140,"wires":[["87b381d8b3c87cc5"]]},{"id":"dd3e9ed9ec8a7165","type":"function","z":"62a53d6e4cbdfb9a","name":"0 off","func":"msg.payload = {\n    method: \"Light.Set\",\n    parameters : {\n        id : 0,\n        on : false,\n        // toggle_after : 2 // optional flip back time in seconds\n    }\n};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":200,"wires":[["87b381d8b3c87cc5"]]},{"id":"efa508db54f5d2b2","type":"inject","z":"62a53d6e4cbdfb9a","name":"Turn On","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":284.99413108825684,"y":140.193359375,"wires":[["242b5acf119422c3"]]},{"id":"5415e1c02311b4df","type":"inject","z":"62a53d6e4cbdfb9a","name":"Turn Off","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":200,"wires":[["dd3e9ed9ec8a7165"]]},{"id":"ced42ed881ba5ab2","type":"inject","z":"62a53d6e4cbdfb9a","name":"Get Status","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":80,"wires":[["87b381d8b3c87cc5"]]},{"id":"d05702390269de3f","type":"function","z":"62a53d6e4cbdfb9a","name":"0 toggle","func":"msg.payload = {\n    method: \"Light.Toggle\",\n    parameters : {\n        id : 0,\n    }\n};\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":260,"wires":[["87b381d8b3c87cc5"]]},{"id":"c35ea38c250e04a2","type":"inject","z":"62a53d6e4cbdfb9a","name":"Toggle","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":260,"wires":[["d05702390269de3f"]]},{"id":"87b381d8b3c87cc5","type":"shelly-gen2","z":"62a53d6e4cbdfb9a","hostname":"192.168.178.170","description":"shellyplus010v-c4d8d54f7bf0","mode":"polling","verbose":false,"server":"04263f2d054cc2a1","outputmode":"event","uploadretryinterval":"5000","pollinginterval":5000,"pollstatus":false,"getstatusoncommand":false,"devicetype":"SNDM-00100WW","devicetypemustmatchexactly":false,"outputs":1,"x":700,"y":140,"wires":[["2f88b4f340b65e3d"]]},{"id":"f8ccf6c03bb94def","type":"function","z":"62a53d6e4cbdfb9a","name":"id 0","func":"msg.payload = {\n    method: \"Light.GetConfig\",\n    parameters : {\n        id : 0,\n    }\n};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":380,"wires":[["87b381d8b3c87cc5"]]},{"id":"c2d3da8d4582c57c","type":"inject","z":"62a53d6e4cbdfb9a","name":"Get Config","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":380,"wires":[["f8ccf6c03bb94def"]]},{"id":"40ea319e45588ae0","type":"function","z":"62a53d6e4cbdfb9a","name":"id 0","func":"// see https://shelly-api-docs.shelly.cloud/gen2/ComponentsAndServices/Light/#lightgetconfig-example \n// for all options in config.\nmsg.payload = {\n    method: \"Light.SetConfig\",\n    parameters : {\n        id : 0,\n        config : {\n            name : \"Light 0\",\n        }\n    }\n};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":420,"wires":[["87b381d8b3c87cc5"]]},{"id":"eada180de0563f94","type":"inject","z":"62a53d6e4cbdfb9a","name":"Set Config","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":420,"wires":[["40ea319e45588ae0"]]},{"id":"ce4c6e0f0b01d9a1","type":"function","z":"62a53d6e4cbdfb9a","name":"Set 70%","func":"// see also https://shelly-api-docs.shelly.cloud/gen2/ComponentsAndServices/Light/#lightset\nmsg.payload = {\n    method: \"Light.Set\",\n    parameters : {\n        id : 0,\n        brightness : 70,\n        transition_duration : 2 // 2 seconds\n    }\n};\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":320,"wires":[["87b381d8b3c87cc5"]]},{"id":"67ab208927a478bc","type":"inject","z":"62a53d6e4cbdfb9a","name":"Toggle","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":320,"wires":[["ce4c6e0f0b01d9a1"]]},{"id":"04263f2d054cc2a1","type":"shelly-gen2-server","port":"10001","hostname":"unimatrix"}]