examples/dimmer.json
[{"id":"a9a4cecf.d695d","type":"debug","z":"217df193.d774ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":695,"y":2335,"wires":[]},{"id":"db6d4879.e58638","type":"function","z":"217df193.d774ce","name":"on","func":"msg.payload = {\n    on:true\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":265,"y":2370,"wires":[["26060ef6.fc42e2"]]},{"id":"af12ed91.db36b","type":"function","z":"217df193.d774ce","name":"off","func":"msg.payload = {\n    on:false\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":265,"y":2405,"wires":[["26060ef6.fc42e2"]]},{"id":"8e633731.bcb388","type":"inject","z":"217df193.d774ce","name":"Turn On","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":119.99413108825684,"y":2370.193359375,"wires":[["db6d4879.e58638"]]},{"id":"b92f1fa1.28369","type":"inject","z":"217df193.d774ce","name":"Turn Off","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":2405,"wires":[["af12ed91.db36b"]]},{"id":"475a1574.c2a66c","type":"inject","z":"217df193.d774ce","name":"Poll Status","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":120,"y":2335,"wires":[["26060ef6.fc42e2"]]},{"id":"1ccaf065.29865","type":"function","z":"217df193.d774ce","name":"toggle","func":"msg.payload = {\n    turn:\"toggle\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":265,"y":2440,"wires":[["26060ef6.fc42e2"]]},{"id":"de899240.f2c4e","type":"inject","z":"217df193.d774ce","name":"Toggle","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":2440,"wires":[["1ccaf065.29865"]]},{"id":"26060ef6.fc42e2","type":"shelly-dimmer","z":"217df193.d774ce","hostname":"","description":"","dimmerStat":false,"x":520,"y":2335,"wires":[["a9a4cecf.d695d"]]},{"id":"ed0bf2d6.f3932","type":"function","z":"217df193.d774ce","name":"brightness 100%","func":"msg.payload = {\nbrightness: 100\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":305,"y":2475,"wires":[["26060ef6.fc42e2"]]},{"id":"842a219.3160ee","type":"inject","z":"217df193.d774ce","name":"Brightness","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":2475,"wires":[["ed0bf2d6.f3932"]]},{"id":"67cdf690.5db298","type":"function","z":"217df193.d774ce","name":"brightness 25%","func":"msg.payload = {\nbrightness: 25\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":295,"y":2510,"wires":[["26060ef6.fc42e2"]]},{"id":"642f3344.ad757c","type":"inject","z":"217df193.d774ce","name":"Brightness","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":2510,"wires":[["67cdf690.5db298"]]},{"id":"abaad9ff.284e08","type":"function","z":"217df193.d774ce","name":"turn on & set brightness 60%","func":"msg.payload = {\n    on : true,\n    brightness: 60\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":335,"y":2545,"wires":[["26060ef6.fc42e2"]]},{"id":"fca6f758.5a99b8","type":"inject","z":"217df193.d774ce","name":"Combined","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":2545,"wires":[["abaad9ff.284e08"]]}]
