examples/door.json
[{"id":"1f019fa9.e415b","type":"debug","z":"f45ce90b3151803b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":220,"wires":[]},{"id":"b4393811.259d18","type":"inject","z":"f45ce90b3151803b","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":220,"wires":[["c2fd8ca8062f40b9"]]},{"id":"c2fd8ca8062f40b9","type":"shelly-gen1","z":"f45ce90b3151803b","hostname":"192.168.178.249","description":"","pollinginterval":"0","pollstatus":false,"getstatusoncommand":true,"devicetype":"Sensor","outputs":1,"credentials":{},"x":350,"y":220,"wires":[["1f019fa9.e415b"]]},{"id":"c6dde98b07e06449","type":"shelly-gen1","z":"f45ce90b3151803b","hostname":"192.168.178.249","description":"","pollinginterval":5000,"pollstatus":true,"getstatusoncommand":true,"devicetype":"Sensor","outputs":1,"x":350,"y":280,"wires":[["96dd64e9fb70a51b"]]},{"id":"96dd64e9fb70a51b","type":"debug","z":"f45ce90b3151803b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":280,"wires":[]}]