examples/door.json
[{"id":"1f019fa9.e415b","type":"debug","z":"0d338faf61a7ae48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":160,"wires":[]},{"id":"b4393811.259d18","type":"inject","z":"0d338faf61a7ae48","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":160,"wires":[["c2fd8ca8062f40b9"]]},{"id":"c2fd8ca8062f40b9","type":"shelly-gen1","z":"0d338faf61a7ae48","hostname":"192.168.178.249","description":"","mode":"polling","server":"033a6e9acf499057","uploadretryinterval":"5000","pollinginterval":"5000","pollstatus":false,"getstatusoncommand":true,"devicetype":"Sensor","outputs":1,"x":510,"y":160,"wires":[["1f019fa9.e415b"]]},{"id":"c6dde98b07e06449","type":"shelly-gen1","z":"0d338faf61a7ae48","hostname":"192.168.178.249","description":"","mode":"callback","server":"033a6e9acf499057","outputmode":"status","uploadretryinterval":"5000","pollinginterval":5000,"pollstatus":true,"getstatusoncommand":false,"devicetype":"Sensor","outputs":1,"x":510,"y":220,"wires":[["96dd64e9fb70a51b"]]},{"id":"96dd64e9fb70a51b","type":"debug","z":"0d338faf61a7ae48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":220,"wires":[]},{"id":"033a6e9acf499057","type":"shelly-gen1-server","port":"20001","hostname":""}]