examples/emeasure.json
[{"id":"44eaf42a.9e197c","type":"debug","z":"365debdef1efd315","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":580,"wires":[]},{"id":"db6d4879.e58638","type":"function","z":"365debdef1efd315","name":"0 on","func":"msg.payload = {\n    relay:0,\n    on:true\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":540,"wires":[["c71a6ecbab04397d"]]},{"id":"af12ed91.db36b","type":"function","z":"365debdef1efd315","name":"0 off","func":"msg.payload = {\n    relay:0, \n    on:false\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":213.12890625,"y":614.7539196014404,"wires":[["c71a6ecbab04397d"]]},{"id":"8e633731.bcb388","type":"inject","z":"365debdef1efd315","name":"Turn On","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":64.99413108825684,"y":540.193359375,"wires":[["db6d4879.e58638"]]},{"id":"b92f1fa1.28369","type":"inject","z":"365debdef1efd315","name":"Turn Off","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":72.11914825439453,"y":613.730465888977,"wires":[["af12ed91.db36b"]]},{"id":"475a1574.c2a66c","type":"inject","z":"365debdef1efd315","name":"Poll Status","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":460,"wires":[["c71a6ecbab04397d"]]},{"id":"1ccaf065.29865","type":"function","z":"365debdef1efd315","name":"0 toggle","func":"msg.payload = {\n    relay:0, \n    turn:\"toggle\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":700,"wires":[["c71a6ecbab04397d"]]},{"id":"de899240.f2c4e","type":"inject","z":"365debdef1efd315","name":"Toggle","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":58.99024200439453,"y":698.9765462875366,"wires":[["1ccaf065.29865"]]},{"id":"c71a6ecbab04397d","type":"shelly-emeasure","z":"365debdef1efd315","hostname":"192.168.178.140","description":"","pollinginterval":"3000","outputs":1,"x":500,"y":580,"wires":[["44eaf42a.9e197c"]]}]