examples/emeasure.json
[{"id":"44eaf42a.9e197c","type":"debug","z":"f45ce90b3151803b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":260,"wires":[]},{"id":"db6d4879.e58638","type":"function","z":"f45ce90b3151803b","name":"0 on","func":"msg.payload = {\n    relay:0,\n    on:true\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":260,"wires":[["dfe0d4899f3a3019"]]},{"id":"af12ed91.db36b","type":"function","z":"f45ce90b3151803b","name":"0 off","func":"msg.payload = {\n    relay:0, \n    on:false\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":300,"wires":[["dfe0d4899f3a3019"]]},{"id":"8e633731.bcb388","type":"inject","z":"f45ce90b3151803b","name":"Turn On","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":260,"wires":[["db6d4879.e58638"]]},{"id":"b92f1fa1.28369","type":"inject","z":"f45ce90b3151803b","name":"Turn Off","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":300,"wires":[["af12ed91.db36b"]]},{"id":"475a1574.c2a66c","type":"inject","z":"f45ce90b3151803b","name":"Poll Status","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":220,"wires":[["dfe0d4899f3a3019"]]},{"id":"1ccaf065.29865","type":"function","z":"f45ce90b3151803b","name":"0 toggle","func":"msg.payload = {\n    relay:0, \n    turn:\"toggle\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":340,"wires":[["dfe0d4899f3a3019"]]},{"id":"de899240.f2c4e","type":"inject","z":"f45ce90b3151803b","name":"Toggle","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":340,"wires":[["1ccaf065.29865"]]},{"id":"dfe0d4899f3a3019","type":"shelly-gen1","z":"f45ce90b3151803b","hostname":"192.168.178.120","description":"","pollinginterval":5000,"pollstatus":false,"getstatusoncommand":true,"devicetype":"Measure","outputs":2,"x":550,"y":260,"wires":[["44eaf42a.9e197c"],[]]}]