examples/emeasure.json
[{"id":"44eaf42a.9e197c","type":"debug","z":"0d338faf61a7ae48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":140,"wires":[]},{"id":"db6d4879.e58638","type":"function","z":"0d338faf61a7ae48","name":"0 on","func":"msg.payload = {\n    relay:0,\n    on:true\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":140,"wires":[["dfe0d4899f3a3019"]]},{"id":"af12ed91.db36b","type":"function","z":"0d338faf61a7ae48","name":"0 off","func":"msg.payload = {\n    relay:0, \n    on:false\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":180,"wires":[["dfe0d4899f3a3019"]]},{"id":"8e633731.bcb388","type":"inject","z":"0d338faf61a7ae48","name":"Turn On","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":140,"wires":[["db6d4879.e58638"]]},{"id":"b92f1fa1.28369","type":"inject","z":"0d338faf61a7ae48","name":"Turn Off","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":180,"wires":[["af12ed91.db36b"]]},{"id":"475a1574.c2a66c","type":"inject","z":"0d338faf61a7ae48","name":"Poll Status","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":100,"wires":[["dfe0d4899f3a3019"]]},{"id":"1ccaf065.29865","type":"function","z":"0d338faf61a7ae48","name":"0 toggle","func":"msg.payload = {\n    relay:0, \n    turn:\"toggle\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":220,"wires":[["dfe0d4899f3a3019"]]},{"id":"de899240.f2c4e","type":"inject","z":"0d338faf61a7ae48","name":"Toggle","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":220,"wires":[["1ccaf065.29865"]]},{"id":"dfe0d4899f3a3019","type":"shelly-gen1","z":"0d338faf61a7ae48","hostname":"192.168.178.120","description":"","mode":"polling","server":"033a6e9acf499057","uploadretryinterval":"5000","pollinginterval":5000,"pollstatus":false,"getstatusoncommand":true,"devicetype":"Measure","outputs":2,"credentials":{"username":"","password":""},"x":610,"y":140,"wires":[["44eaf42a.9e197c"],[]]},{"id":"033a6e9acf499057","type":"shelly-gen1-server","port":"20001","hostname":""}]