examples/emeasure2.json
[{"id":"44eaf42a.9e197c","type":"debug","z":"365debdef1efd315","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":200,"wires":[]},{"id":"475a1574.c2a66c","type":"inject","z":"365debdef1efd315","name":"Poll Status","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":160,"wires":[["e52c02dcaae88c81"]]},{"id":"6d64c35a96ac1d04","type":"function","z":"365debdef1efd315","name":"all","func":"// The array contains the indexes of the measurement channels to be downloaded.\nmsg.payload = {\n    download: [0, 1, 2]\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":360,"wires":[["e52c02dcaae88c81"]]},{"id":"fdab0a3a904683e9","type":"inject","z":"365debdef1efd315","name":"download CSV","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":120,"y":360,"wires":[["6d64c35a96ac1d04"]]},{"id":"e52c02dcaae88c81","type":"shelly-emeasure","z":"365debdef1efd315","hostname":"192.168.178.120","description":"Shelly EM(3)","pollinginterval":"0","outputs":2,"x":510,"y":240,"wires":[["44eaf42a.9e197c"],["7babbb7d2fc9f75e","ef73396048246b64"]]},{"id":"7babbb7d2fc9f75e","type":"debug","z":"365debdef1efd315","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":260,"wires":[]},{"id":"ee0c95fe05c7c98c","type":"function","z":"365debdef1efd315","name":"L1","func":"// The array contains the indexes of the measurement channels to be downloaded.\nmsg.payload = {\n    download: [0]\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":240,"wires":[["e52c02dcaae88c81"]]},{"id":"1363a7b95dc22423","type":"inject","z":"365debdef1efd315","name":"download CSV","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":120,"y":240,"wires":[["ee0c95fe05c7c98c"]]},{"id":"54e3634585049b89","type":"function","z":"365debdef1efd315","name":"L2","func":"// The array contains the indexes of the measurement channels to be downloaded.\nmsg.payload = {\n    download: [1]\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":280,"wires":[["e52c02dcaae88c81"]]},{"id":"f9eacb981dab1d80","type":"inject","z":"365debdef1efd315","name":"download CSV","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":120,"y":280,"wires":[["54e3634585049b89"]]},{"id":"98a67b3fb4249836","type":"function","z":"365debdef1efd315","name":"L3","func":"// The array contains the indexes of the measurement channels to be downloaded.\nmsg.payload = {\n    download: [2]\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":320,"wires":[["e52c02dcaae88c81"]]},{"id":"64260d206019d584","type":"inject","z":"365debdef1efd315","name":"download CSV","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":120,"y":320,"wires":[["98a67b3fb4249836"]]},{"id":"e2533fe31f6f0a92","type":"file","z":"365debdef1efd315","name":"write CSV","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":900,"y":340,"wires":[[]]},{"id":"ef73396048246b64","type":"function","z":"365debdef1efd315","name":"split payload","func":"for (let i = 0; i < msg.payload.length; i++) {\n    let emData = msg.payload[i];\n    \n    var newMsg = {\n        filename : \"emData\" + i + \".csv\",\n        payload : emData\n    }\n\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":340,"wires":[["e2533fe31f6f0a92"]]}]