examples/emeasurepro.json
[{"id":"b1f14c0a545f7385","type":"debug","z":"62a53d6e4cbdfb9a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":280,"wires":[]},{"id":"3069b0b8060b23d6","type":"function","z":"62a53d6e4cbdfb9a","name":"Id 0","func":"msg.payload = {\n    method: \"EMdata.GetStatus\",\n    parameters : {\n        id : 0,\n    }\n};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":320,"wires":[["ed0e9b02b79f4302"]]},{"id":"e604c9fd9bdb2d9f","type":"function","z":"62a53d6e4cbdfb9a","name":"Id 0","func":"msg.payload = {\n    method: \"EMdata.GetRecords\",\n    parameters : {\n        id : 0,\n    }\n};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":380,"wires":[["ed0e9b02b79f4302"]]},{"id":"0fb589f5508705e9","type":"inject","z":"62a53d6e4cbdfb9a","name":"Get Status","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":320,"wires":[["3069b0b8060b23d6"]]},{"id":"8b0114f58d4de857","type":"inject","z":"62a53d6e4cbdfb9a","name":"Get Records","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":380,"wires":[["e604c9fd9bdb2d9f"]]},{"id":"650a3b99984db523","type":"inject","z":"62a53d6e4cbdfb9a","name":"Get Status","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":260,"wires":[["ed0e9b02b79f4302"]]},{"id":"6fb7f139a83c72a9","type":"function","z":"62a53d6e4cbdfb9a","name":"Id 0","func":"\nlet timestamp =  Math.floor((Date.now() - 1) / 1000)\n\nmsg.payload = {\n    method: \"EMdata.GetData\",\n    parameters : {\n        id : 0,\n        ts : timestamp,\n    }\n};\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":440,"wires":[["ed0e9b02b79f4302"]]},{"id":"7f0391a21d061eae","type":"inject","z":"62a53d6e4cbdfb9a","name":"Get Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":440,"wires":[["6fb7f139a83c72a9"]]},{"id":"ed0e9b02b79f4302","type":"shelly-gen2","z":"62a53d6e4cbdfb9a","hostname":"192.168.179.16","description":"shellypro3em-fce8c0d87d60","mode":"none","verbose":false,"server":"04263f2d054cc2a1","uploadretryinterval":"5000","pollinginterval":"5000","pollstatus":false,"getstatusoncommand":false,"devicetype":"SPEM-003CEBEU","devicetypemustmatchexactly":false,"outputs":1,"x":580,"y":280,"wires":[["b1f14c0a545f7385"]]},{"id":"a9df245efa268027","type":"function","z":"62a53d6e4cbdfb9a","name":"id 0","func":"msg.payload = {\n    method: \"EMdata.GetConfig\",\n    parameters: {\n        id: 0,\n    }\n};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":500,"wires":[["ed0e9b02b79f4302"]]},{"id":"1be4fd78052cde35","type":"inject","z":"62a53d6e4cbdfb9a","name":"Get Config","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":500,"wires":[["a9df245efa268027"]]},{"id":"9fc3b889ebadfcdd","type":"function","z":"62a53d6e4cbdfb9a","name":"id 0","func":"msg.payload = {\n    method: \"EMdata.SetConfig\",\n    parameters : {\n        id : 0,\n        config : {\n            // name : \"switch\",\n            ///...\n        }\n    }\n};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":540,"wires":[["ed0e9b02b79f4302"]]},{"id":"27433ed7ae83fd86","type":"inject","z":"62a53d6e4cbdfb9a","name":"Set Config","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":540,"wires":[["9fc3b889ebadfcdd"]]},{"id":"655e9a8c9cafe78c","type":"comment","z":"62a53d6e4cbdfb9a","name":"readme","info":"see also\nhttps://shelly-api-docs.shelly.cloud/gen2/Devices/Gen2/ShellyPro3EM","x":530,"y":360,"wires":[]},{"id":"04263f2d054cc2a1","type":"shelly-gen2-server","port":"10001","hostname":"unimatrix"}]