examples/motion.json
[{"id":"dfe0d4899f3a3019","type":"shelly-gen1","z":"0d338faf61a7ae48","hostname":"192.168.178.250","description":"","mode":"polling","server":"033a6e9acf499057","uploadretryinterval":"5000","pollinginterval":"2000","pollstatus":false,"getstatusoncommand":true,"devicetype":"Sensor","outputs":1,"credentials":{"username":"","password":""},"x":550,"y":160,"wires":[["73ed9da2.4516f4","1641b1ca.d1b94e"]]},{"id":"475a1574.c2a66c","type":"inject","z":"0d338faf61a7ae48","name":"Poll Status","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":160,"wires":[["dfe0d4899f3a3019"]]},{"id":"73ed9da2.4516f4","type":"switch","z":"0d338faf61a7ae48","name":"motion","property":"payload.sensor.motion","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"prev"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":140,"wires":[["22b4762b.75ec0a"]]},{"id":"22b4762b.75ec0a","type":"debug","z":"0d338faf61a7ae48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":140,"wires":[]},{"id":"1641b1ca.d1b94e","type":"switch","z":"0d338faf61a7ae48","name":"vibration","property":"payload.sensor.vibration","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"prev"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":180,"wires":[["431b043c.f9e43c"]]},{"id":"431b043c.f9e43c","type":"debug","z":"0d338faf61a7ae48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":180,"wires":[]},{"id":"033a6e9acf499057","type":"shelly-gen1-server","port":"20001","hostname":""}]