examples/motion.json
[{"id":"c7377f7a.af9a4","type":"shelly-motion","z":"75aa2889.5e4d78","hostname":"192.168.178.133","description":"Motion","pollinginterval":1000,"sendfullstatus":false,"x":280,"y":140,"wires":[["73ed9da2.4516f4","1641b1ca.d1b94e"]]},{"id":"73ed9da2.4516f4","type":"switch","z":"75aa2889.5e4d78","name":"motion","property":"payload.sensor.motion","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"prev"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":120,"wires":[["22b4762b.75ec0a"]]},{"id":"22b4762b.75ec0a","type":"debug","z":"75aa2889.5e4d78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":120,"wires":[]},{"id":"1641b1ca.d1b94e","type":"switch","z":"75aa2889.5e4d78","name":"vibration","property":"payload.sensor.vibration","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"prev"}],"checkall":"true","repair":false,"outputs":1,"x":580,"y":160,"wires":[["431b043c.f9e43c"]]},{"id":"431b043c.f9e43c","type":"debug","z":"75aa2889.5e4d78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":160,"wires":[]}]