examples/motion.json
[{"id":"dfe0d4899f3a3019","type":"shelly-gen1","z":"f45ce90b3151803b","hostname":"192.168.178.250","description":"","pollinginterval":"2000","pollstatus":false,"getstatusoncommand":true,"devicetype":"Sensor","outputs":1,"x":390,"y":180,"wires":[["73ed9da2.4516f4","1641b1ca.d1b94e"]]},{"id":"475a1574.c2a66c","type":"inject","z":"f45ce90b3151803b","name":"Poll Status","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":180,"wires":[["dfe0d4899f3a3019"]]},{"id":"73ed9da2.4516f4","type":"switch","z":"f45ce90b3151803b","name":"motion","property":"payload.sensor.motion","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"prev"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":160,"wires":[["22b4762b.75ec0a"]]},{"id":"22b4762b.75ec0a","type":"debug","z":"f45ce90b3151803b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":160,"wires":[]},{"id":"1641b1ca.d1b94e","type":"switch","z":"f45ce90b3151803b","name":"vibration","property":"payload.sensor.vibration","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"prev"}],"checkall":"true","repair":false,"outputs":1,"x":580,"y":200,"wires":[["431b043c.f9e43c"]]},{"id":"431b043c.f9e43c","type":"debug","z":"f45ce90b3151803b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":200,"wires":[]}]