examples/rgbw2color.json
[{"id":"f00739aa9fbc9f54","type":"debug","z":"f45ce90b3151803b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":160,"wires":[]},{"id":"ab8dad85d2138b72","type":"comment","z":"f45ce90b3151803b","name":"Shelly RGBW color example","info":"","x":200,"y":100,"wires":[]},{"id":"cf3c0ab1b3cdab0b","type":"shelly-gen1","z":"f45ce90b3151803b","hostname":"192.168.178.248","description":"","pollinginterval":5000,"pollstatus":false,"getstatusoncommand":true,"devicetype":"RGBW","outputs":1,"rgbwmode":"color","x":530,"y":160,"wires":[["f00739aa9fbc9f54"]]},{"id":"593b425c.b6a01c","type":"inject","z":"f45ce90b3151803b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":160,"wires":[["547d1394.d875cc"]]},{"id":"547d1394.d875cc","type":"function","z":"f45ce90b3151803b","name":"color","func":"msg.payload =\n{\n    red : 255,\n    green : 255,\n    blue : 255,\n    white : 255,\n    temp : 5000, // optional 3000..6500K for white (shelly bulb RGBW)\n    gain : 100,\n    effect : 0,\n    transition : 0, // optional 0..5000ms\n    on : true\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":160,"wires":[["cf3c0ab1b3cdab0b"]]}]