examples/rgbw2white.json
[{"id":"7659a366c0fc320d","type":"debug","z":"0d338faf61a7ae48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":220,"wires":[]},{"id":"7b2d2337a2be80bc","type":"comment","z":"0d338faf61a7ae48","name":"Shelly RGBW white stripes example","info":"","x":340,"y":120,"wires":[]},{"id":"0c3cd883f4e7a37d","type":"shelly-gen1","z":"0d338faf61a7ae48","hostname":"192.168.178.178","description":"","mode":"none","server":"033a6e9acf499057","uploadretryinterval":"5000","pollinginterval":5000,"pollstatus":false,"getstatusoncommand":true,"devicetype":"RGBW","outputs":1,"credentials":{"username":"","password":""},"x":630,"y":220,"wires":[["7659a366c0fc320d"]]},{"id":"43a858c7730b360a","type":"function","z":"0d338faf61a7ae48","name":"white","func":"msg.payload =\n{\n    light : msg.light,\n    brightness : 100,\n    timer : 0,\n    on : msg.on\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":220,"wires":[["0c3cd883f4e7a37d"]]},{"id":"827285f1d06ac701","type":"inject","z":"0d338faf61a7ae48","name":"Light 0 On","props":[{"p":"light","v":"0","vt":"num"},{"p":"on","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":260,"y":180,"wires":[["43a858c7730b360a"]]},{"id":"02fc04288114ceeb","type":"inject","z":"0d338faf61a7ae48","name":"Light 0 Off","props":[{"p":"light","v":"0","vt":"num"},{"p":"on","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":260,"y":220,"wires":[["43a858c7730b360a"]]},{"id":"b74c161c51d266ba","type":"inject","z":"0d338faf61a7ae48","name":"Light 1 On","props":[{"p":"light","v":"1","vt":"num"},{"p":"on","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":260,"y":260,"wires":[["43a858c7730b360a"]]},{"id":"c277d71f6d086a85","type":"inject","z":"0d338faf61a7ae48","name":"Light 1 Off","props":[{"p":"light","v":"1","vt":"num"},{"p":"on","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":260,"y":300,"wires":[["43a858c7730b360a"]]},{"id":"756070cd0d42aada","type":"inject","z":"0d338faf61a7ae48","name":"Light 2 On","props":[{"p":"light","v":"2","vt":"num"},{"p":"on","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":260,"y":340,"wires":[["43a858c7730b360a"]]},{"id":"3210fea9d8f20e4f","type":"inject","z":"0d338faf61a7ae48","name":"Light 2 Off","props":[{"p":"light","v":"2","vt":"num"},{"p":"on","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":260,"y":380,"wires":[["43a858c7730b360a"]]},{"id":"348a69fa455d31ba","type":"inject","z":"0d338faf61a7ae48","name":"Light 3 On","props":[{"p":"light","v":"3","vt":"num"},{"p":"on","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":260,"y":420,"wires":[["43a858c7730b360a"]]},{"id":"fa146f41a8115368","type":"inject","z":"0d338faf61a7ae48","name":"Light 3 Off","props":[{"p":"light","v":"3","vt":"num"},{"p":"on","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":260,"y":460,"wires":[["43a858c7730b360a"]]},{"id":"033a6e9acf499057","type":"shelly-gen1-server","port":"20001","hostname":""}]