examples/rgbw2white.json
[{"id":"f00739aa9fbc9f54","type":"debug","z":"62a53d6e4cbdfb9a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":800,"wires":[]},{"id":"ab8dad85d2138b72","type":"comment","z":"62a53d6e4cbdfb9a","name":"Shelly RGBW white stripes example","info":"","x":300,"y":700,"wires":[]},{"id":"cf3c0ab1b3cdab0b","type":"shelly-gen1","z":"62a53d6e4cbdfb9a","hostname":"192.168.178.178","description":"","mode":"none","server":"033a6e9acf499057","uploadretryinterval":"","pollinginterval":5000,"pollstatus":false,"getstatusoncommand":true,"devicetype":"RGBW","outputs":1,"x":590,"y":800,"wires":[["f00739aa9fbc9f54"]]},{"id":"fafae5b.2e88b18","type":"function","z":"62a53d6e4cbdfb9a","name":"white","func":"msg.payload =\n{\n    light : msg.light,\n    brightness : 100,\n    timer : 0,\n    on : msg.on\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":800,"wires":[["cf3c0ab1b3cdab0b"]]},{"id":"1b289470.261b8c","type":"inject","z":"62a53d6e4cbdfb9a","name":"Light 0 On","props":[{"p":"light","v":"0","vt":"num"},{"p":"on","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":220,"y":760,"wires":[["fafae5b.2e88b18"]]},{"id":"3aafb57.7697e4a","type":"inject","z":"62a53d6e4cbdfb9a","name":"Light 0 Off","props":[{"p":"light","v":"0","vt":"num"},{"p":"on","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":220,"y":800,"wires":[["fafae5b.2e88b18"]]},{"id":"ac06b0cd.5863e","type":"inject","z":"62a53d6e4cbdfb9a","name":"Light 1 On","props":[{"p":"light","v":"1","vt":"num"},{"p":"on","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":220,"y":840,"wires":[["fafae5b.2e88b18"]]},{"id":"1ac0f79a.9d8cf8","type":"inject","z":"62a53d6e4cbdfb9a","name":"Light 1 Off","props":[{"p":"light","v":"1","vt":"num"},{"p":"on","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":220,"y":880,"wires":[["fafae5b.2e88b18"]]},{"id":"2f01dd34.608022","type":"inject","z":"62a53d6e4cbdfb9a","name":"Light 2 On","props":[{"p":"light","v":"2","vt":"num"},{"p":"on","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":220,"y":920,"wires":[["fafae5b.2e88b18"]]},{"id":"145ffc44.293804","type":"inject","z":"62a53d6e4cbdfb9a","name":"Light 2 Off","props":[{"p":"light","v":"2","vt":"num"},{"p":"on","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":220,"y":960,"wires":[["fafae5b.2e88b18"]]},{"id":"452ef8fd.9c5948","type":"inject","z":"62a53d6e4cbdfb9a","name":"Light 3 On","props":[{"p":"light","v":"3","vt":"num"},{"p":"on","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":220,"y":1000,"wires":[["fafae5b.2e88b18"]]},{"id":"78f7eae.f515f14","type":"inject","z":"62a53d6e4cbdfb9a","name":"Light 3 Off","props":[{"p":"light","v":"3","vt":"num"},{"p":"on","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":220,"y":1040,"wires":[["fafae5b.2e88b18"]]},{"id":"033a6e9acf499057","type":"shelly-gen1-server","port":"20001","hostname":""}]