examples/rgbwpmplus.json
[{"id":"b1f14c0a545f7385","type":"debug","z":"62a53d6e4cbdfb9a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":600,"wires":[]},{"id":"3069b0b8060b23d6","type":"function","z":"62a53d6e4cbdfb9a","name":"0 on","func":"msg.payload = {\n    method: \"RGBW.Set\",\n    parameters : {\n        id : 0,\n        on : true,\n        toggle_after : 2 // optional flip back time in seconds\n    }\n};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":600,"wires":[["ed0e9b02b79f4302"]]},{"id":"e604c9fd9bdb2d9f","type":"function","z":"62a53d6e4cbdfb9a","name":"0 off","func":"msg.payload = {\n    method: \"RGBW.Set\",\n    parameters : {\n        id : 0,\n        on : false,\n        toggle_after : 2 // optional flip back time in seconds\n    }\n};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":660,"wires":[["ed0e9b02b79f4302"]]},{"id":"0fb589f5508705e9","type":"inject","z":"62a53d6e4cbdfb9a","name":"Turn On","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":324.99413108825684,"y":600.193359375,"wires":[["3069b0b8060b23d6"]]},{"id":"8b0114f58d4de857","type":"inject","z":"62a53d6e4cbdfb9a","name":"Turn Off","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":660,"wires":[["e604c9fd9bdb2d9f"]]},{"id":"650a3b99984db523","type":"inject","z":"62a53d6e4cbdfb9a","name":"Get Status","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":540,"wires":[["ed0e9b02b79f4302"]]},{"id":"6fb7f139a83c72a9","type":"function","z":"62a53d6e4cbdfb9a","name":"0 toggle","func":"msg.payload = {\n    method: \"RGBW.Toggle\",\n    parameters : {\n        id : 0,\n    }\n};\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":720,"wires":[["ed0e9b02b79f4302"]]},{"id":"7f0391a21d061eae","type":"inject","z":"62a53d6e4cbdfb9a","name":"Toggle","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":720,"wires":[["6fb7f139a83c72a9"]]},{"id":"ed0e9b02b79f4302","type":"shelly-gen2","z":"62a53d6e4cbdfb9a","hostname":"192.168.178.209","description":"shellyplusrgbwpm-b0a73240c650","mode":"polling","verbose":false,"server":"04263f2d054cc2a1","uploadretryinterval":"5000","pollinginterval":"5000","pollstatus":false,"getstatusoncommand":false,"devicetype":"SNDC-0D4P10WW","devicetypemustmatchexactly":false,"outputs":1,"x":740,"y":600,"wires":[["b1f14c0a545f7385"]]},{"id":"a9df245efa268027","type":"function","z":"62a53d6e4cbdfb9a","name":"id 0","func":"msg.payload = {\n    method: \"RGBW.GetConfig\",\n    parameters: {\n        id: 0,\n    }\n};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":780,"wires":[["ed0e9b02b79f4302"]]},{"id":"1be4fd78052cde35","type":"inject","z":"62a53d6e4cbdfb9a","name":"Get Config","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":780,"wires":[["a9df245efa268027"]]},{"id":"9fc3b889ebadfcdd","type":"function","z":"62a53d6e4cbdfb9a","name":"id 0","func":"msg.payload = {\n    method: \"PlusRGBWPM.SetConfig\",\n    parameters : {\n        id : 0,\n        config : {\n            // name : \"RGBW\",\n            // initial_state : \"restore_last\",\n            auto_on : true,\n            // auto_on_delay : 60.00,\n            // auto_off : false,\n            // auto_off_delay : 60.00,\n            // ... see output of GetStatus\n        }\n    }\n};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":820,"wires":[["ed0e9b02b79f4302"]]},{"id":"27433ed7ae83fd86","type":"inject","z":"62a53d6e4cbdfb9a","name":"Set Config","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":820,"wires":[["9fc3b889ebadfcdd"]]},{"id":"04263f2d054cc2a1","type":"shelly-gen2-server","port":"10001","hostname":"unimatrix"}]