examples/rgbw2.json
[{"id":"41cee700.9fa288","type":"shelly-rgbw2","z":"75aa2889.5e4d78","hostname":"192.168.178.178","description":"RGBW2","ledStat":true,"pollinginterval":"5000","x":460,"y":300,"wires":[["19ac8e65.252a42"]]},{"id":"19ac8e65.252a42","type":"debug","z":"75aa2889.5e4d78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":300,"wires":[]},{"id":"b7546bca.003488","type":"inject","z":"75aa2889.5e4d78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":280,"wires":[["67a8af93.38922"]]},{"id":"67a8af93.38922","type":"function","z":"75aa2889.5e4d78","name":"color","func":"msg.payload =\n{\n    mode : \"color\",\n    red : 255,\n    green : 255,\n    blue : 255,\n    white : 255,\n    gain : 100,\n    effect : 0,\n    on : true\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":280,"wires":[["41cee700.9fa288"]]},{"id":"898a1326.d9f9","type":"function","z":"75aa2889.5e4d78","name":"white","func":"msg.payload =\n{\n    mode : \"white\",\n    light : 255,\n    brightness : 100,\n    timer : 0,\n    on : true\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":340,"wires":[["41cee700.9fa288"]]},{"id":"7afcc3a.86b403c","type":"inject","z":"75aa2889.5e4d78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":340,"wires":[["898a1326.d9f9"]]}]