examples/rgbw2colorloop.json
[{"id":"41cee700.9fa288","type":"shelly-rgbw2","z":"75aa2889.5e4d78","hostname":"192.168.178.178","description":"RGBW2","ledStat":false,"pollinginterval":"5000","x":520,"y":400,"wires":[["19ac8e65.252a42"]]},{"id":"19ac8e65.252a42","type":"debug","z":"75aa2889.5e4d78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":400,"wires":[]},{"id":"3fa1a28b.020b7e","type":"function","z":"75aa2889.5e4d78","name":"Initialize Colors","func":"// Tip: to have a smoother effect you should set the transition time in the RGBW2 node to 300ms\n// This depends on the interval in the inject node which is set actually to 300ms.\nvar rgbwValues = [\n    {mode : \"color\", red : 255, green : 0, blue : 0, on : true, timer : 0, white : 0, gain: 100, effect: 0},\n    {mode : \"color\", red : 255, green : 0, blue : 0, on : true, timer : 0, white : 0, gain: 90, effect: 0},\n    {mode : \"color\", red : 255, green : 0, blue : 0, on : true, timer : 0, white : 0, gain: 80, effect: 0},\n    {mode : \"color\", red : 255, green : 0, blue : 0, on : true, timer : 0, white : 0, gain: 60, effect: 0},\n    {mode : \"color\", red : 255, green : 0, blue : 0, on : true, timer : 0, white : 0, gain: 40, effect: 0},\n    {mode : \"color\", red : 255, green : 0, blue : 0, on : true, timer : 0, white : 0, gain: 20, effect: 0},\n    {mode : \"color\", red : 255, green : 0, blue : 0, on : true, timer : 0, white : 0, gain: 10, effect: 0},\n    {mode : \"color\", red : 255, green : 0, blue : 0, on : true, timer : 0, white : 0, gain: 10, effect: 0},\n    {mode : \"color\", red : 255, green : 0, blue : 0, on : true, timer : 0, white : 0, gain: 10, effect: 0},\n    {mode : \"color\", red : 255, green : 0, blue : 0, on : true, timer : 0, white : 0, gain: 20, effect: 0},\n    {mode : \"color\", red : 255, green : 0, blue : 0, on : true, timer : 0, white : 0, gain: 40, effect: 0},\n    {mode : \"color\", red : 255, green : 0, blue : 0, on : true, timer : 0, white : 0, gain: 60, effect: 0},\n    {mode : \"color\", red : 255, green : 0, blue : 0, on : true, timer : 0, white : 0, gain: 80, effect: 0},\n    {mode : \"color\", red : 255, green : 0, blue : 0, on : true, timer : 0, white : 0, gain: 90, effect: 0},\n    {mode : \"color\", red : 255, green : 0, blue : 0, on : true, timer : 0, white : 0, gain: 100, effect: 0},\n    {mode : \"color\", red : 255, green : 0, blue : 0, on : true, timer : 0, white : 0, gain: 100, effect: 0},\n    {mode : \"color\", red : 255, green : 0, blue : 0, on : true, timer : 0, white : 0, gain: 100, effect: 0},\n    {mode : \"color\", red : 255, green : 0, blue : 0, on : true, timer : 0, white : 0, gain: 100, effect: 0},\n    {mode : \"color\", red : 255, green : 0, blue : 0, on : true, timer : 0, white : 0, gain: 100, effect: 0},\n    {mode : \"color\", red : 255, green : 0, blue : 0, on : true, timer : 0, white : 0, gain: 100, effect: 0},\n    {mode : \"color\", red : 255, green : 0, blue : 0, on : true, timer : 0, white : 0, gain: 100, effect: 0},\n    {mode : \"color\", red : 255, green : 0, blue : 0, on : true, timer : 0, white : 0, gain: 100, effect: 0},\n    {mode : \"color\", red : 255, green : 0, blue : 0, on : true, timer : 0, white : 0, gain: 100, effect: 0},\n];\nflow.set(\"rgbwValues\", rgbwValues);\nflow.set(\"rgbwValuesIndex\", 0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":340,"wires":[[]]},{"id":"e1f1130.eecc8f","type":"inject","z":"75aa2889.5e4d78","name":"Reset","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":340,"wires":[["3fa1a28b.020b7e"]]},{"id":"2ba3d484.11014c","type":"inject","z":"75aa2889.5e4d78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":400,"wires":[["4d667ff6.1fffd"]]},{"id":"4d667ff6.1fffd","type":"function","z":"75aa2889.5e4d78","name":"Loop Colors","func":"\nvar rgbwValues = flow.get(\"rgbwValues\");\nvar rgbwValuesIndex = flow.get(\"rgbwValuesIndex\");\nmsg.payload = rgbwValues[rgbwValuesIndex];\n\nrgbwValuesIndex = (rgbwValuesIndex + 1) % rgbwValues.length;\nflow.set(\"rgbwValuesIndex\", rgbwValuesIndex);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":400,"wires":[["41cee700.9fa288"]]}]