examples/rgbw2color.json
[{"id":"b06cf3df.51cf3","type":"shelly-rgbw2","z":"75aa2889.5e4d78","hostname":"192.168.178.178","description":"RGBW2","ledStat":true,"pollinginterval":"5000","mode":"color","x":500,"y":840,"wires":[["c750679f.90b8d8"]]},{"id":"c750679f.90b8d8","type":"debug","z":"75aa2889.5e4d78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":840,"wires":[]},{"id":"593b425c.b6a01c","type":"inject","z":"75aa2889.5e4d78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":840,"wires":[["547d1394.d875cc"]]},{"id":"547d1394.d875cc","type":"function","z":"75aa2889.5e4d78","name":"color","func":"msg.payload =\n{\n    red : 255,\n    green : 255,\n    blue : 255,\n    white : 255,\n    gain : 100,\n    effect : 0,\n    on : true\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":840,"wires":[["b06cf3df.51cf3"]]}]