examples/roller3.json
[{"id":"cabb3fcef2697fe9","type":"shelly-gen1","z":"f45ce90b3151803b","hostname":"192.168.178.165","description":"","pollinginterval":5000,"pollstatus":false,"getstatusoncommand":true,"devicetype":"Roller","outputs":1,"x":530,"y":240,"wires":[["04574bee967834da"]]},{"id":"04574bee967834da","type":"debug","z":"f45ce90b3151803b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":240,"wires":[]},{"id":"276a5d78df31f91c","type":"function","z":"f45ce90b3151803b","name":"0 on","func":"msg.payload = {\n    relay:0,\n    on:true\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":240,"wires":[["cabb3fcef2697fe9"]]},{"id":"e6227384c11d70a4","type":"function","z":"f45ce90b3151803b","name":"0 off","func":"msg.payload = {\n    relay:0, \n    on:false\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":300,"wires":[["cabb3fcef2697fe9"]]},{"id":"7a629017458af4af","type":"inject","z":"f45ce90b3151803b","name":"Turn On","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":240,"wires":[["276a5d78df31f91c"]]},{"id":"3430aa2b99c4fb8c","type":"inject","z":"f45ce90b3151803b","name":"Turn Off","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":300,"wires":[["e6227384c11d70a4"]]},{"id":"12672be733faf839","type":"inject","z":"f45ce90b3151803b","name":"Poll Status","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":180,"wires":[["cabb3fcef2697fe9"]]},{"id":"ecc42f80f9934a4d","type":"function","z":"f45ce90b3151803b","name":"0 toggle","func":"msg.payload = {\n    relay:0, \n    turn:\"toggle\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":360,"wires":[["cabb3fcef2697fe9"]]},{"id":"a0cb4c74a410cb1b","type":"inject","z":"f45ce90b3151803b","name":"Toggle","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":360,"wires":[["ecc42f80f9934a4d"]]}]