examples/roller3.json
[{"id":"438154460b5c9c7e","type":"debug","z":"f3f42d61d6f1113d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":420,"wires":[]},{"id":"276a5d78df31f91c","type":"function","z":"f3f42d61d6f1113d","name":"0 on","func":"msg.payload = {\n    relay:0,\n    on:true\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":380,"wires":[["0ab99f535a551f6e"]]},{"id":"e6227384c11d70a4","type":"function","z":"f3f42d61d6f1113d","name":"0 off","func":"msg.payload = {\n    relay:0, \n    on:false\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":293.12890625,"y":454.75391960144043,"wires":[["0ab99f535a551f6e"]]},{"id":"7a629017458af4af","type":"inject","z":"f3f42d61d6f1113d","name":"Turn On","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":144.99413108825684,"y":380.193359375,"wires":[["276a5d78df31f91c"]]},{"id":"3430aa2b99c4fb8c","type":"inject","z":"f3f42d61d6f1113d","name":"Turn Off","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":152.11914825439453,"y":453.73046588897705,"wires":[["e6227384c11d70a4"]]},{"id":"12672be733faf839","type":"inject","z":"f3f42d61d6f1113d","name":"Poll Status","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":300,"wires":[["0ab99f535a551f6e"]]},{"id":"ecc42f80f9934a4d","type":"function","z":"f3f42d61d6f1113d","name":"0 toggle","func":"msg.payload = {\n    relay:0, \n    turn:\"toggle\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":540,"wires":[["0ab99f535a551f6e"]]},{"id":"a0cb4c74a410cb1b","type":"inject","z":"f3f42d61d6f1113d","name":"Toggle","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":138.99024200439453,"y":538.9765462875366,"wires":[["ecc42f80f9934a4d"]]},{"id":"0ab99f535a551f6e","type":"shelly-roller-shutter","z":"f3f42d61d6f1113d","hostname":"192.168.178.242","description":"","pollinginterval":5000,"x":530,"y":420,"wires":[["438154460b5c9c7e"]]}]