examples/roller3.json
[{"id":"cabb3fcef2697fe9","type":"shelly-gen1","z":"0d338faf61a7ae48","hostname":"192.168.178.165","description":"","mode":"polling","server":"033a6e9acf499057","uploadretryinterval":"5000","pollinginterval":5000,"pollstatus":false,"getstatusoncommand":true,"devicetype":"Roller","outputs":1,"credentials":{"username":"","password":""},"x":710,"y":120,"wires":[["04574bee967834da"]]},{"id":"04574bee967834da","type":"debug","z":"0d338faf61a7ae48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":120,"wires":[]},{"id":"276a5d78df31f91c","type":"function","z":"0d338faf61a7ae48","name":"0 on","func":"msg.payload = {\n    relay:0,\n    on:true\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":120,"wires":[["cabb3fcef2697fe9"]]},{"id":"e6227384c11d70a4","type":"function","z":"0d338faf61a7ae48","name":"0 off","func":"msg.payload = {\n    relay:0, \n    on:false\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":180,"wires":[["cabb3fcef2697fe9"]]},{"id":"7a629017458af4af","type":"inject","z":"0d338faf61a7ae48","name":"Turn On","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":120,"wires":[["276a5d78df31f91c"]]},{"id":"3430aa2b99c4fb8c","type":"inject","z":"0d338faf61a7ae48","name":"Turn Off","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":180,"wires":[["e6227384c11d70a4"]]},{"id":"12672be733faf839","type":"inject","z":"0d338faf61a7ae48","name":"Poll Status","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":60,"wires":[["cabb3fcef2697fe9"]]},{"id":"ecc42f80f9934a4d","type":"function","z":"0d338faf61a7ae48","name":"0 toggle","func":"msg.payload = {\n    relay:0, \n    turn:\"toggle\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":240,"wires":[["cabb3fcef2697fe9"]]},{"id":"a0cb4c74a410cb1b","type":"inject","z":"0d338faf61a7ae48","name":"Toggle","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":240,"wires":[["ecc42f80f9934a4d"]]},{"id":"033a6e9acf499057","type":"shelly-gen1-server","port":"20001","hostname":""}]