examples/roller.json
[{"id":"2097e3e6.2cda4c","type":"debug","z":"0d338faf61a7ae48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":200,"wires":[]},{"id":"719f799e.abf348","type":"inject","z":"0d338faf61a7ae48","name":"open","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"roller\":0,\"go\":\"open\"}","payloadType":"json","x":390,"y":140,"wires":[["cabb3fcef2697fe9"]]},{"id":"3f5b8225.fb6c5e","type":"inject","z":"0d338faf61a7ae48","name":"close","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"roller\":0,\"go\":\"close\"}","payloadType":"json","x":390,"y":280,"wires":[["cabb3fcef2697fe9"]]},{"id":"cabb3fcef2697fe9","type":"shelly-gen1","z":"0d338faf61a7ae48","hostname":"192.168.178.165","description":"","mode":"polling","server":"033a6e9acf499057","uploadretryinterval":"5000","pollinginterval":5000,"pollstatus":false,"getstatusoncommand":true,"devicetype":"Roller","outputs":1,"credentials":{"username":"","password":""},"x":590,"y":200,"wires":[["2097e3e6.2cda4c"]]},{"id":"033a6e9acf499057","type":"shelly-gen1-server","port":"20001","hostname":""}]