examples/roller.json
[{"id":"27bdb8d4.1a65a8","type":"shelly-roller-shutter","z":"748e7e2c.f2989","hostname":"Rolladen","description":"","x":540,"y":140,"wires":[["2097e3e6.2cda4c"]]},{"id":"2097e3e6.2cda4c","type":"debug","z":"748e7e2c.f2989","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":140,"wires":[]},{"id":"719f799e.abf348","type":"inject","z":"748e7e2c.f2989","name":"open","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"roller\":0,\"go\":\"open\"}","payloadType":"json","x":350,"y":80,"wires":[["27bdb8d4.1a65a8"]]},{"id":"3f5b8225.fb6c5e","type":"inject","z":"748e7e2c.f2989","name":"close","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"roller\":0,\"go\":\"close\"}","payloadType":"json","x":350,"y":220,"wires":[["27bdb8d4.1a65a8"]]}]