examples/roller2.json
[{"id":"cabb3fcef2697fe9","type":"shelly-gen1","z":"f45ce90b3151803b","hostname":"192.168.178.165","description":"","pollinginterval":5000,"pollstatus":false,"getstatusoncommand":true,"devicetype":"Roller","outputs":1,"x":570,"y":260,"wires":[["04574bee967834da"]]},{"id":"04574bee967834da","type":"debug","z":"f45ce90b3151803b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":260,"wires":[]},{"id":"787041d58dadf405","type":"inject","z":"f45ce90b3151803b","name":"goTo 75%","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":200,"wires":[["48e65c72691b9926"]]},{"id":"48e65c72691b9926","type":"function","z":"f45ce90b3151803b","name":"75%","func":"msg.payload = {\n    roller : 0,\n    go : \"to_pos\",\n    roller_pos : 75\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":200,"wires":[["cabb3fcef2697fe9"]]},{"id":"4d54cc3b739d3e8b","type":"inject","z":"f45ce90b3151803b","name":"goTo 25%","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":300,"wires":[["41b70996ea73beef"]]},{"id":"41b70996ea73beef","type":"function","z":"f45ce90b3151803b","name":"25%","func":"msg.payload = {\n    roller : 0,\n    go : \"to_pos\",\n    roller_pos : 25\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":300,"wires":[["cabb3fcef2697fe9"]]},{"id":"187b09d9896a7a58","type":"inject","z":"f45ce90b3151803b","name":"goTo 100%","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":160,"wires":[["dd66dc7c9e2a9b06"]]},{"id":"dd66dc7c9e2a9b06","type":"function","z":"f45ce90b3151803b","name":"100%","func":"msg.payload = {\n    roller : 0,\n    go : \"to_pos\",\n    roller_pos : 100\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":160,"wires":[["cabb3fcef2697fe9"]]},{"id":"71b395a58411f253","type":"inject","z":"f45ce90b3151803b","name":"goTo 0%","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":340,"wires":[["48f08f01c015ef51"]]},{"id":"48f08f01c015ef51","type":"function","z":"f45ce90b3151803b","name":"0%","func":"msg.payload = {\n    roller : 0,\n    go : \"to_pos\",\n    roller_pos : 0\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":340,"wires":[["cabb3fcef2697fe9"]]}]