examples/rollerplus.json
[{"id":"7d6cdbf1e817c014","type":"debug","z":"62a53d6e4cbdfb9a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1410,"y":120,"wires":[]},{"id":"824eb5a48c275c81","type":"function","z":"62a53d6e4cbdfb9a","name":"0 open","func":"msg.payload = {\n    method: \"Cover.Open\",\n    parameters : {\n        id : 0,\n        // duration : 1, // optional time in seconds\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":120,"wires":[["41edd01d4a3faa58"]]},{"id":"afbe1123b254a70e","type":"inject","z":"62a53d6e4cbdfb9a","name":"Open","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":834.9941310882568,"y":120.193359375,"wires":[["824eb5a48c275c81"]]},{"id":"7bc39cc66171e896","type":"inject","z":"62a53d6e4cbdfb9a","name":"Get Status","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":840,"y":60,"wires":[["41edd01d4a3faa58"]]},{"id":"41edd01d4a3faa58","type":"shelly-gen2","z":"62a53d6e4cbdfb9a","hostname":"192.168.178.242","description":"","mode":"polling","server":"04263f2d054cc2a1","uploadretryinterval":"5000","pollinginterval":5000,"pollstatus":false,"getstatusoncommand":false,"devicetype":"Relay","outputs":1,"credentials":{"password":""},"x":1210,"y":120,"wires":[["7d6cdbf1e817c014"]]},{"id":"206f7b32c6ee0710","type":"function","z":"62a53d6e4cbdfb9a","name":"id 0","func":"msg.payload = {\n    method: \"Switch.GetConfig\",\n    parameters : {\n        id : 0,\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":340,"wires":[["41edd01d4a3faa58"]]},{"id":"1efb9b2fd34511ce","type":"inject","z":"62a53d6e4cbdfb9a","name":"Get Config","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":840,"y":340,"wires":[["206f7b32c6ee0710"]]},{"id":"2135883a52c16301","type":"function","z":"62a53d6e4cbdfb9a","name":"id 0","func":"msg.payload = {\n    method: \"Switch.SetConfig\",\n    parameters : {\n        id : 0,\n        config : {\n            // name : \"switch\",\n            // in_mode : \"follow\",\n            // initial_state : \"restore_last\",\n            auto_on : true,\n            // auto_on_delay : 60.00,\n            // auto_off : false,\n            // auto_off_delay : 60.00,\n            // power_limit : 3500\n        }\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":380,"wires":[["41edd01d4a3faa58"]]},{"id":"1e2d9d8df70c53e8","type":"inject","z":"62a53d6e4cbdfb9a","name":"Set Config","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":840,"y":380,"wires":[["2135883a52c16301"]]},{"id":"66851263862684f4","type":"function","z":"62a53d6e4cbdfb9a","name":"0 close","func":"msg.payload = {\n    method: \"Cover.Close\",\n    parameters : {\n        id : 0,\n        // duration : 1, // optional time in seconds\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":160,"wires":[["41edd01d4a3faa58"]]},{"id":"490f6e37800338ff","type":"inject","z":"62a53d6e4cbdfb9a","name":"Close","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":834.9941310882568,"y":160.193359375,"wires":[["66851263862684f4"]]},{"id":"d86a41064c9daf66","type":"function","z":"62a53d6e4cbdfb9a","name":"0 stop","func":"msg.payload = {\n    method: \"Cover.Stop\",\n    parameters : {\n        id : 0,\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":200,"wires":[["41edd01d4a3faa58"]]},{"id":"71273dee8ffadbc7","type":"inject","z":"62a53d6e4cbdfb9a","name":"Stop","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":834.9941310882568,"y":200.193359375,"wires":[["d86a41064c9daf66"]]},{"id":"bc4b9368bd8d1e0e","type":"function","z":"62a53d6e4cbdfb9a","name":"0 goto 50%","func":"msg.payload = {\n    method: \"Cover.GoToPosition\",\n    parameters : {\n        id : 0,\n        pos : 50, \n        // rel : -10, // as an alternative to pos you can pass rel in %\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":240,"wires":[["41edd01d4a3faa58"]]},{"id":"97e379304fb44b2b","type":"inject","z":"62a53d6e4cbdfb9a","name":"Goto","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":834.9941310882568,"y":240.193359375,"wires":[["bc4b9368bd8d1e0e"]]},{"id":"c781b7dd9f6cbd37","type":"function","z":"62a53d6e4cbdfb9a","name":"0 calibrate","func":"msg.payload = {\n    method: \"Cover.Calibrate\",\n    parameters : {\n        id : 0,\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":280,"wires":[[]]},{"id":"9fd6a264668c968e","type":"inject","z":"62a53d6e4cbdfb9a","name":"Calibrate","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":844.9941310882568,"y":280.193359375,"wires":[["c781b7dd9f6cbd37"]]},{"id":"04263f2d054cc2a1","type":"shelly-gen2-server","port":"10001","hostname":"unimatrix"}]