examples/roller.json
[{"id":"2097e3e6.2cda4c","type":"debug","z":"f45ce90b3151803b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":260,"wires":[]},{"id":"719f799e.abf348","type":"inject","z":"f45ce90b3151803b","name":"open","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"roller\":0,\"go\":\"open\"}","payloadType":"json","x":190,"y":200,"wires":[["cabb3fcef2697fe9"]]},{"id":"3f5b8225.fb6c5e","type":"inject","z":"f45ce90b3151803b","name":"close","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"roller\":0,\"go\":\"close\"}","payloadType":"json","x":190,"y":340,"wires":[["cabb3fcef2697fe9"]]},{"id":"cabb3fcef2697fe9","type":"shelly-gen1","z":"f45ce90b3151803b","hostname":"192.168.178.165","description":"","pollinginterval":5000,"pollstatus":false,"getstatusoncommand":true,"devicetype":"Roller","outputs":1,"x":390,"y":260,"wires":[["2097e3e6.2cda4c"]]}]