examples/roller2.json
[{"id":"27bdb8d4.1a65a8","type":"shelly-roller-shutter","z":"748e7e2c.f2989","hostname":"Rolladen","description":"","x":540,"y":140,"wires":[["2097e3e6.2cda4c"]]},{"id":"2097e3e6.2cda4c","type":"debug","z":"748e7e2c.f2989","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":140,"wires":[]},{"id":"719f799e.abf348","type":"inject","z":"748e7e2c.f2989","name":"goTo 75%","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":80,"wires":[["fd0ffd8d.a1f84"]]},{"id":"fd0ffd8d.a1f84","type":"function","z":"748e7e2c.f2989","name":"75%","func":"msg.payload = {\n    roller : 0,\n    go : \"to_pos\",\n    roller_pos : 75\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":80,"wires":[["27bdb8d4.1a65a8"]]},{"id":"d4d88196.16574","type":"inject","z":"748e7e2c.f2989","name":"goTo 25%","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":180,"wires":[["f670f88f.bcda48"]]},{"id":"f670f88f.bcda48","type":"function","z":"748e7e2c.f2989","name":"25%","func":"msg.payload = {\n    roller : 0,\n    go : \"to_pos\",\n    roller_pos : 25\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":180,"wires":[["27bdb8d4.1a65a8"]]},{"id":"a3a75ac0.3ec3e8","type":"inject","z":"748e7e2c.f2989","name":"goTo 100%","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":40,"wires":[["18be943e.75f8dc"]]},{"id":"18be943e.75f8dc","type":"function","z":"748e7e2c.f2989","name":"100%","func":"msg.payload = {\n    roller : 0,\n    go : \"to_pos\",\n    roller_pos : 100\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":40,"wires":[[]]},{"id":"607b6db7.658204","type":"inject","z":"748e7e2c.f2989","name":"goTo 0%","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":220,"wires":[["eead712c.e2bc4"]]},{"id":"eead712c.e2bc4","type":"function","z":"748e7e2c.f2989","name":"0%","func":"msg.payload = {\n    roller : 0,\n    go : \"to_pos\",\n    roller_pos : 0\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":220,"wires":[[]]}]