examples/settings.json
[{"id":"a9a4cecf.d695d","type":"debug","z":"f45ce90b3151803b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":140,"wires":[]},{"id":"ef3e73a12b3a2d99","type":"shelly-gen1","z":"f45ce90b3151803b","hostname":"192.168.178.155","description":"","pollinginterval":5000,"pollstatus":false,"getstatusoncommand":true,"devicetype":"Relay","outputs":1,"x":630,"y":140,"wires":[["a9a4cecf.d695d"]]},{"id":"1d1cfec12628409f","type":"inject","z":"f45ce90b3151803b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":140,"wires":[["eb60bf8b73e530a6"]]},{"id":"eb60bf8b73e530a6","type":"function","z":"f45ce90b3151803b","name":"set settings","func":"// see also https://shelly-api-docs.shelly.cloud/gen1/#shelly1-1pm-settings-ext_temperature-index\n\nmsg.settings = [{\n    device : 'ext_temperature',\n    index : 0, \n    attribute : 'overtemp_threshold_tC',\n    value : 90\n},\n{\n    device : 'ext_temperature',\n    index : 0, \n    attribute : 'undertemp_threshold_tC',\n    value : 10\n},\n{\n    device : 'ext_temperature',\n    index : 0, \n    attribute : 'overtemp_act',\n    value : 'relay_on'\n},\n{\n    device : 'ext_temperature',\n    index : 0, \n    attribute : 'undertemp_act',\n    value : 'relay_off'\n}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":140,"wires":[["ef3e73a12b3a2d99"]]}]