examples/settings.json
[{"id":"13cc189725b8a272","type":"debug","z":"0d338faf61a7ae48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":140,"wires":[]},{"id":"bb1a5337d664e639","type":"shelly-gen1","z":"0d338faf61a7ae48","hostname":"192.168.178.155","description":"","mode":"polling","server":"033a6e9acf499057","uploadretryinterval":"5000","pollinginterval":5000,"pollstatus":false,"getstatusoncommand":true,"devicetype":"Relay","outputs":1,"credentials":{"username":"","password":""},"x":590,"y":140,"wires":[["13cc189725b8a272"]]},{"id":"6b22877f50c05ef8","type":"inject","z":"0d338faf61a7ae48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":140,"wires":[["eab45c1a89cb9594"]]},{"id":"eab45c1a89cb9594","type":"function","z":"0d338faf61a7ae48","name":"set settings","func":"// see also https://shelly-api-docs.shelly.cloud/gen1/#shelly1-1pm-settings-ext_temperature-index\n\nmsg.settings = [{\n    device : 'ext_temperature',\n    index : 0, \n    attribute : 'overtemp_threshold_tC',\n    value : 90\n},\n{\n    device : 'ext_temperature',\n    index : 0, \n    attribute : 'undertemp_threshold_tC',\n    value : 10\n},\n{\n    device : 'ext_temperature',\n    index : 0, \n    attribute : 'overtemp_act',\n    value : 'relay_on'\n},\n{\n    device : 'ext_temperature',\n    index : 0, \n    attribute : 'undertemp_act',\n    value : 'relay_off'\n}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":140,"wires":[["bb1a5337d664e639"]]},{"id":"033a6e9acf499057","type":"shelly-gen1-server","port":"20001","hostname":""}]