examples/switch.json
[{"id":"a9a4cecf.d695d","type":"debug","z":"3068ac13.951064","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":669.8808517456055,"y":118.25000286102295,"wires":[]},{"id":"db6d4879.e58638","type":"function","z":"3068ac13.951064","name":"0 on","func":"msg.payload = {\n    relay:0,\n    on:true\n    };\nreturn msg;","outputs":1,"noerr":0,"x":239.88672065734863,"y":63.78711128234863,"wires":[["2d893ea5.9655a2"]]},{"id":"af12ed91.db36b","type":"function","z":"3068ac13.951064","name":"0 off","func":"msg.payload = {\n    relay:0, \n    on:false\n    };\nreturn msg;","outputs":1,"noerr":0,"x":233.00975799560547,"y":153.00392246246338,"wires":[["2d893ea5.9655a2"]]},{"id":"8e633731.bcb388","type":"inject","z":"3068ac13.951064","name":"Turn On","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":94.88085174560547,"y":63.98047065734863,"wires":[["db6d4879.e58638"]]},{"id":"b92f1fa1.28369","type":"inject","z":"3068ac13.951064","name":"Turn Off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":92,"y":151.98046875,"wires":[["af12ed91.db36b"]]},{"id":"475a1574.c2a66c","type":"inject","z":"3068ac13.951064","name":"Poll Status","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":98.88671875,"y":222.98438453674316,"wires":[["2d893ea5.9655a2"]]},{"id":"2d893ea5.9655a2","type":"shelly-switch","z":"3068ac13.951064","hostname":"192.168.178.131","description":"standard lamp","x":455.88671875,"y":119.07617473602295,"wires":[["a9a4cecf.d695d"]]}]