examples/switchplus.json
[{"id":"ab8dad85d2138b72","type":"comment","z":"f45ce90b3151803b","name":"Shelly 1 Plus example","info":"","x":180,"y":100,"wires":[]},{"id":"7899c86207400f26","type":"debug","z":"f45ce90b3151803b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":220,"wires":[]},{"id":"9d972196920e1ce5","type":"function","z":"f45ce90b3151803b","name":"0 on","func":"msg.payload = {\n    id : 0,\n    on : true,\n    toggle_after : 2 // optional flip back time in seconds\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":220,"wires":[["3ab1d7c19e93cefb"]]},{"id":"3b2db8394dc6ea85","type":"function","z":"f45ce90b3151803b","name":"0 off","func":"msg.payload = {\n    id : 0, \n    on : false,\n    // toggle_after : 2 // optional flip back time in seconds\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":280,"wires":[["3ab1d7c19e93cefb"]]},{"id":"72b2ecfbb65b923b","type":"inject","z":"f45ce90b3151803b","name":"Turn On","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":164.99413108825684,"y":220.193359375,"wires":[["9d972196920e1ce5"]]},{"id":"2972b780145b01f1","type":"inject","z":"f45ce90b3151803b","name":"Turn Off","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":280,"wires":[["3b2db8394dc6ea85"]]},{"id":"5aa54bfb2f16f55c","type":"inject","z":"f45ce90b3151803b","name":"Poll Status","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":160,"wires":[["3ab1d7c19e93cefb"]]},{"id":"2fdb598c3a9f0e8e","type":"function","z":"f45ce90b3151803b","name":"0 toggle","func":"msg.payload = {\n    id : 0, \n    method: \"Switch.Toggle\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":340,"wires":[["3ab1d7c19e93cefb"]]},{"id":"1597a10879f722a3","type":"inject","z":"f45ce90b3151803b","name":"Toggle","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":340,"wires":[["2fdb598c3a9f0e8e"]]},{"id":"3ab1d7c19e93cefb","type":"shelly-gen2","z":"f45ce90b3151803b","hostname":"192.168.178.242","description":"","pollinginterval":5000,"pollstatus":false,"getstatusoncommand":true,"devicetype":"Relay","outputs":1,"credentials":{},"x":530,"y":220,"wires":[["7899c86207400f26"]]}]