examples/switchplus.json
[{"id":"7899c86207400f26","type":"debug","z":"f3f42d61d6f1113d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":520,"wires":[]},{"id":"9d972196920e1ce5","type":"function","z":"f3f42d61d6f1113d","name":"0 on","func":"msg.payload = {\n    id : 0,\n    on : true,\n    toggle_after : 2 // optional flip back time in seconds\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":520,"wires":[["ac2e317cefe888aa"]]},{"id":"3b2db8394dc6ea85","type":"function","z":"f3f42d61d6f1113d","name":"0 off","func":"msg.payload = {\n    id : 0, \n    on : false,\n    // toggle_after : 2 // optional flip back time in seconds\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":580,"wires":[["ac2e317cefe888aa"]]},{"id":"72b2ecfbb65b923b","type":"inject","z":"f3f42d61d6f1113d","name":"Turn On","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":164.99413108825684,"y":520.193359375,"wires":[["9d972196920e1ce5"]]},{"id":"2972b780145b01f1","type":"inject","z":"f3f42d61d6f1113d","name":"Turn Off","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":580,"wires":[["3b2db8394dc6ea85"]]},{"id":"5aa54bfb2f16f55c","type":"inject","z":"f3f42d61d6f1113d","name":"Poll Status","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":460,"wires":[["ac2e317cefe888aa"]]},{"id":"2fdb598c3a9f0e8e","type":"function","z":"f3f42d61d6f1113d","name":"0 toggle","func":"msg.payload = {\n    id : 0, \n    method: \"Switch.Toggle\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":640,"wires":[["ac2e317cefe888aa"]]},{"id":"1597a10879f722a3","type":"inject","z":"f3f42d61d6f1113d","name":"Toggle","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":640,"wires":[["2fdb598c3a9f0e8e"]]},{"id":"ac2e317cefe888aa","type":"shelly-switch2","z":"f3f42d61d6f1113d","hostname":"192.168.178.242","description":"","pollinginterval":"0","x":510,"y":520,"wires":[["7899c86207400f26"]]}]