examples/switch.json
[{"id":"a7f7eb6c23e7cada","type":"debug","z":"0d338faf61a7ae48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":180,"wires":[]},{"id":"9827bed30b98899d","type":"function","z":"0d338faf61a7ae48","name":"0 on","func":"msg.payload = {\n    relay:0,\n    on:true\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":160,"wires":[["4ec3bc22e66b23bf"]]},{"id":"ceb89296ad346d11","type":"function","z":"0d338faf61a7ae48","name":"0 off","func":"msg.payload = {\n    relay:0, \n    on:false\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":200,"wires":[["4ec3bc22e66b23bf"]]},{"id":"9c12ea4cb0824f13","type":"inject","z":"0d338faf61a7ae48","name":"Turn On","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":160,"wires":[["9827bed30b98899d"]]},{"id":"b1489fb9c02a35dd","type":"inject","z":"0d338faf61a7ae48","name":"Turn Off","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":200,"wires":[["ceb89296ad346d11"]]},{"id":"5bc198419954726e","type":"inject","z":"0d338faf61a7ae48","name":"Poll Status","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":100,"wires":[["4ec3bc22e66b23bf"]]},{"id":"eb55b9f4698bbfea","type":"function","z":"0d338faf61a7ae48","name":"0 toggle","func":"msg.payload = {\n    relay:0, \n    turn:\"toggle\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":240,"wires":[["4ec3bc22e66b23bf"]]},{"id":"534c74b9b6f806e2","type":"inject","z":"0d338faf61a7ae48","name":"Toggle","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":240,"wires":[["eb55b9f4698bbfea"]]},{"id":"4ec3bc22e66b23bf","type":"shelly-gen1","z":"0d338faf61a7ae48","hostname":"192.168.178.189","description":"","mode":"polling","server":"033a6e9acf499057","uploadretryinterval":"5000","pollinginterval":5000,"pollstatus":false,"getstatusoncommand":true,"devicetype":"Relay","outputs":1,"credentials":{"username":"","password":""},"x":630,"y":180,"wires":[["a7f7eb6c23e7cada"]]},{"id":"033a6e9acf499057","type":"shelly-gen1-server","port":"20001","hostname":""}]