examples/switch.json
[{"id":"a9a4cecf.d695d","type":"debug","z":"f86d9fd2.9f14c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":180,"wires":[]},{"id":"db6d4879.e58638","type":"function","z":"f86d9fd2.9f14c","name":"0 on","func":"msg.payload = {\n    relay:0,\n    on:true\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":140,"wires":[["2d893ea5.9655a2"]]},{"id":"af12ed91.db36b","type":"function","z":"f86d9fd2.9f14c","name":"0 off","func":"msg.payload = {\n    relay:0, \n    on:false\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":393.12890625,"y":214.75391960144043,"wires":[["2d893ea5.9655a2"]]},{"id":"8e633731.bcb388","type":"inject","z":"f86d9fd2.9f14c","name":"Turn On","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":244.99413108825684,"y":140.193359375,"wires":[["db6d4879.e58638"]]},{"id":"b92f1fa1.28369","type":"inject","z":"f86d9fd2.9f14c","name":"Turn Off","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":252.11914825439453,"y":213.73046588897705,"wires":[["af12ed91.db36b"]]},{"id":"475a1574.c2a66c","type":"inject","z":"f86d9fd2.9f14c","name":"Poll Status","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":60,"wires":[["2d893ea5.9655a2"]]},{"id":"2d893ea5.9655a2","type":"shelly-switch","z":"f86d9fd2.9f14c","hostname":"192.168.178.131","description":"standard lamp","x":616.0058670043945,"y":180.826171875,"wires":[["a9a4cecf.d695d"]]},{"id":"1ccaf065.29865","type":"function","z":"f86d9fd2.9f14c","name":"0 toggle","func":"msg.payload = {\n    relay:0, \n    turn:\"toggle\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":300,"wires":[["2d893ea5.9655a2"]]},{"id":"de899240.f2c4e","type":"inject","z":"f86d9fd2.9f14c","name":"Toggle","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":238.99024200439453,"y":298.9765462875366,"wires":[["1ccaf065.29865"]]}]