examples/trv.json
[{"id":"dece2e83019151fc","type":"debug","z":"0d338faf61a7ae48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":140,"wires":[]},{"id":"e85a9c6d35f869dc","type":"inject","z":"0d338faf61a7ae48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":140,"wires":[["bd597a6c1a2ade47"]]},{"id":"bd597a6c1a2ade47","type":"function","z":"0d338faf61a7ae48","name":"position = 75","func":"// see https://shelly-api-docs.shelly.cloud/gen1/#shelly-trv-thermostats-0\nmsg.payload = {\n  position : 75\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":140,"wires":[["b917dfb7a5b5534e"]]},{"id":"0f02a6b820824984","type":"function","z":"0d338faf61a7ae48","name":"temp = 10","func":"// see https://shelly-api-docs.shelly.cloud/gen1/#shelly-trv-thermostats-0\nmsg.payload = {\n  temperature : 10, // 4..31C\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":180,"wires":[["b917dfb7a5b5534e"]]},{"id":"6d76b6a243bb4d0e","type":"function","z":"0d338faf61a7ae48","name":"temp = 30","func":"// see https://shelly-api-docs.shelly.cloud/gen1/#shelly-trv-thermostats-0\nmsg.payload = {\n  temperature : 25, // 4..31C\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":220,"wires":[["b917dfb7a5b5534e"]]},{"id":"b37e87a0ea7d3c1e","type":"inject","z":"0d338faf61a7ae48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":180,"wires":[["0f02a6b820824984"]]},{"id":"43346dea8f9b1ac5","type":"inject","z":"0d338faf61a7ae48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":220,"wires":[["6d76b6a243bb4d0e"]]},{"id":"0af04bb9e16af131","type":"function","z":"0d338faf61a7ae48","name":"schedule off","func":"// see https://shelly-api-docs.shelly.cloud/gen1/#shelly-trv-thermostats-0\nmsg.payload = {\n  schedule : false\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":300,"wires":[["b917dfb7a5b5534e"]]},{"id":"533f3dd1dbd6e1fa","type":"function","z":"0d338faf61a7ae48","name":"schedule on","func":"// see https://shelly-api-docs.shelly.cloud/gen1/#shelly-trv-thermostats-0\nmsg.payload = {\n  schedule : true\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":340,"wires":[["b917dfb7a5b5534e"]]},{"id":"9234265125931878","type":"inject","z":"0d338faf61a7ae48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":300,"wires":[["0af04bb9e16af131"]]},{"id":"901e958ca089fadb","type":"inject","z":"0d338faf61a7ae48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":340,"wires":[["533f3dd1dbd6e1fa"]]},{"id":"391f54baf7c347b9","type":"function","z":"0d338faf61a7ae48","name":"schedule profile 1","func":"// see https://shelly-api-docs.shelly.cloud/gen1/#shelly-trv-thermostats-0\nmsg.payload = {\n  scheduleProfile : 1\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":400,"wires":[["b917dfb7a5b5534e"]]},{"id":"31b03668c5ecb5fc","type":"inject","z":"0d338faf61a7ae48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":400,"wires":[["391f54baf7c347b9"]]},{"id":"27c46a4a43f34861","type":"inject","z":"0d338faf61a7ae48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":440,"wires":[["8321a4dea3fb5d40"]]},{"id":"8321a4dea3fb5d40","type":"function","z":"0d338faf61a7ae48","name":"schedule profile 2","func":"// see https://shelly-api-docs.shelly.cloud/gen1/#shelly-trv-thermostats-0\nmsg.payload = {\n  scheduleProfile : 2\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":440,"wires":[["b917dfb7a5b5534e"]]},{"id":"281fb7da823991b0","type":"inject","z":"0d338faf61a7ae48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":500,"wires":[["1e11c4f9445e8ea8"]]},{"id":"1e11c4f9445e8ea8","type":"function","z":"0d338faf61a7ae48","name":"boost minutes 30","func":"// see https://shelly-api-docs.shelly.cloud/gen1/#shelly-trv-thermostats-0\nmsg.payload = {\n  boostMinutes : 30\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":500,"wires":[["b917dfb7a5b5534e"]]},{"id":"b917dfb7a5b5534e","type":"shelly-gen1","z":"0d338faf61a7ae48","hostname":"192.168.178.237","description":"","mode":"polling","server":"033a6e9acf499057","uploadretryinterval":"5000","pollinginterval":5000,"pollstatus":false,"getstatusoncommand":true,"devicetype":"Thermostat","outputs":1,"x":810,"y":140,"wires":[["dece2e83019151fc"]]},{"id":"6b96b4061d4a3fab","type":"inject","z":"0d338faf61a7ae48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":80,"wires":[["b917dfb7a5b5534e"]]},{"id":"033a6e9acf499057","type":"shelly-gen1-server","port":"20001","hostname":""}]