examples/trv.json
[{"id":"39f468ea514679e2","type":"shelly-trv","z":"a1a035d26831eed3","hostname":"192.168.178.20","description":"","pollinginterval":"0","pollstatus":false,"x":620,"y":100,"wires":[["dece2e83019151fc"]]},{"id":"dece2e83019151fc","type":"debug","z":"a1a035d26831eed3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":100,"wires":[]},{"id":"e85a9c6d35f869dc","type":"inject","z":"a1a035d26831eed3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":100,"wires":[["bd597a6c1a2ade47"]]},{"id":"bd597a6c1a2ade47","type":"function","z":"a1a035d26831eed3","name":"position = 75","func":"// see https://shelly-api-docs.shelly.cloud/gen1/#shelly-trv-thermostats-0\nmsg.payload = {\n  position : 75\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":100,"wires":[["39f468ea514679e2"]]},{"id":"0f02a6b820824984","type":"function","z":"a1a035d26831eed3","name":"temp = 10","func":"// see https://shelly-api-docs.shelly.cloud/gen1/#shelly-trv-thermostats-0\nmsg.payload = {\n  temperature : 10, // 4..31C\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":140,"wires":[["39f468ea514679e2"]]},{"id":"6d76b6a243bb4d0e","type":"function","z":"a1a035d26831eed3","name":"temp = 30","func":"// see https://shelly-api-docs.shelly.cloud/gen1/#shelly-trv-thermostats-0\nmsg.payload = {\n  temperature : 30, // 4..31C\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":180,"wires":[["39f468ea514679e2"]]},{"id":"b37e87a0ea7d3c1e","type":"inject","z":"a1a035d26831eed3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":140,"wires":[["0f02a6b820824984"]]},{"id":"43346dea8f9b1ac5","type":"inject","z":"a1a035d26831eed3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":180,"wires":[["6d76b6a243bb4d0e"]]},{"id":"0af04bb9e16af131","type":"function","z":"a1a035d26831eed3","name":"schedule off","func":"// see https://shelly-api-docs.shelly.cloud/gen1/#shelly-trv-thermostats-0\nmsg.payload = {\n  schedule : false\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":260,"wires":[["39f468ea514679e2"]]},{"id":"533f3dd1dbd6e1fa","type":"function","z":"a1a035d26831eed3","name":"schedule on","func":"// see https://shelly-api-docs.shelly.cloud/gen1/#shelly-trv-thermostats-0\nmsg.payload = {\n  schedule : true\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":300,"wires":[["39f468ea514679e2"]]},{"id":"9234265125931878","type":"inject","z":"a1a035d26831eed3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":260,"wires":[["0af04bb9e16af131"]]},{"id":"901e958ca089fadb","type":"inject","z":"a1a035d26831eed3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":300,"wires":[["533f3dd1dbd6e1fa"]]},{"id":"391f54baf7c347b9","type":"function","z":"a1a035d26831eed3","name":"schedule profile 1","func":"// see https://shelly-api-docs.shelly.cloud/gen1/#shelly-trv-thermostats-0\nmsg.payload = {\n  scheduleProfile : 1\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":360,"wires":[["39f468ea514679e2"]]},{"id":"31b03668c5ecb5fc","type":"inject","z":"a1a035d26831eed3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":360,"wires":[["391f54baf7c347b9"]]},{"id":"27c46a4a43f34861","type":"inject","z":"a1a035d26831eed3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":400,"wires":[["8321a4dea3fb5d40"]]},{"id":"8321a4dea3fb5d40","type":"function","z":"a1a035d26831eed3","name":"schedule profile 2","func":"// see https://shelly-api-docs.shelly.cloud/gen1/#shelly-trv-thermostats-0\nmsg.payload = {\n  scheduleProfile : 2\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":400,"wires":[["39f468ea514679e2"]]},{"id":"281fb7da823991b0","type":"inject","z":"a1a035d26831eed3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":460,"wires":[["1e11c4f9445e8ea8"]]},{"id":"1e11c4f9445e8ea8","type":"function","z":"a1a035d26831eed3","name":"boost minutes 30","func":"// see https://shelly-api-docs.shelly.cloud/gen1/#shelly-trv-thermostats-0\nmsg.payload = {\n  boostMinutes : 30\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":460,"wires":[["39f468ea514679e2"]]}]