examples/trv.json
[{"id":"dece2e83019151fc","type":"debug","z":"f45ce90b3151803b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":200,"wires":[]},{"id":"e85a9c6d35f869dc","type":"inject","z":"f45ce90b3151803b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":200,"wires":[["bd597a6c1a2ade47"]]},{"id":"bd597a6c1a2ade47","type":"function","z":"f45ce90b3151803b","name":"position = 75","func":"// see https://shelly-api-docs.shelly.cloud/gen1/#shelly-trv-thermostats-0\nmsg.payload = {\n  position : 75\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":200,"wires":[["b917dfb7a5b5534e"]]},{"id":"0f02a6b820824984","type":"function","z":"f45ce90b3151803b","name":"temp = 10","func":"// see https://shelly-api-docs.shelly.cloud/gen1/#shelly-trv-thermostats-0\nmsg.payload = {\n  temperature : 10, // 4..31C\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":240,"wires":[["b917dfb7a5b5534e"]]},{"id":"6d76b6a243bb4d0e","type":"function","z":"f45ce90b3151803b","name":"temp = 30","func":"// see https://shelly-api-docs.shelly.cloud/gen1/#shelly-trv-thermostats-0\nmsg.payload = {\n  temperature : 30, // 4..31C\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":280,"wires":[["b917dfb7a5b5534e"]]},{"id":"b37e87a0ea7d3c1e","type":"inject","z":"f45ce90b3151803b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":240,"wires":[["0f02a6b820824984"]]},{"id":"43346dea8f9b1ac5","type":"inject","z":"f45ce90b3151803b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":280,"wires":[["6d76b6a243bb4d0e"]]},{"id":"0af04bb9e16af131","type":"function","z":"f45ce90b3151803b","name":"schedule off","func":"// see https://shelly-api-docs.shelly.cloud/gen1/#shelly-trv-thermostats-0\nmsg.payload = {\n  schedule : false\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":360,"wires":[["b917dfb7a5b5534e"]]},{"id":"533f3dd1dbd6e1fa","type":"function","z":"f45ce90b3151803b","name":"schedule on","func":"// see https://shelly-api-docs.shelly.cloud/gen1/#shelly-trv-thermostats-0\nmsg.payload = {\n  schedule : true\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":400,"wires":[["b917dfb7a5b5534e"]]},{"id":"9234265125931878","type":"inject","z":"f45ce90b3151803b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":360,"wires":[["0af04bb9e16af131"]]},{"id":"901e958ca089fadb","type":"inject","z":"f45ce90b3151803b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":400,"wires":[["533f3dd1dbd6e1fa"]]},{"id":"391f54baf7c347b9","type":"function","z":"f45ce90b3151803b","name":"schedule profile 1","func":"// see https://shelly-api-docs.shelly.cloud/gen1/#shelly-trv-thermostats-0\nmsg.payload = {\n  scheduleProfile : 1\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":460,"wires":[["b917dfb7a5b5534e"]]},{"id":"31b03668c5ecb5fc","type":"inject","z":"f45ce90b3151803b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":460,"wires":[["391f54baf7c347b9"]]},{"id":"27c46a4a43f34861","type":"inject","z":"f45ce90b3151803b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":500,"wires":[["8321a4dea3fb5d40"]]},{"id":"8321a4dea3fb5d40","type":"function","z":"f45ce90b3151803b","name":"schedule profile 2","func":"// see https://shelly-api-docs.shelly.cloud/gen1/#shelly-trv-thermostats-0\nmsg.payload = {\n  scheduleProfile : 2\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":500,"wires":[["b917dfb7a5b5534e"]]},{"id":"281fb7da823991b0","type":"inject","z":"f45ce90b3151803b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":560,"wires":[["1e11c4f9445e8ea8"]]},{"id":"1e11c4f9445e8ea8","type":"function","z":"f45ce90b3151803b","name":"boost minutes 30","func":"// see https://shelly-api-docs.shelly.cloud/gen1/#shelly-trv-thermostats-0\nmsg.payload = {\n  boostMinutes : 30\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":560,"wires":[["b917dfb7a5b5534e"]]},{"id":"b917dfb7a5b5534e","type":"shelly-gen1","z":"f45ce90b3151803b","hostname":"192.168.178.237","description":"","pollinginterval":5000,"pollstatus":false,"getstatusoncommand":true,"devicetype":"Thermostat","outputs":1,"x":650,"y":200,"wires":[["dece2e83019151fc"]]}]