examples/uni.json
[{"id":"a9a4cecf.d695d","type":"debug","z":"f45ce90b3151803b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":260,"wires":[]},{"id":"db6d4879.e58638","type":"function","z":"f45ce90b3151803b","name":"0 on","func":"msg.payload = {\n    relay:0,\n    on:true\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":240,"wires":[["1e1f4a3cc3e0324d"]]},{"id":"af12ed91.db36b","type":"function","z":"f45ce90b3151803b","name":"0 off","func":"msg.payload = {\n    relay:0, \n    on:false\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":280,"wires":[["1e1f4a3cc3e0324d"]]},{"id":"8e633731.bcb388","type":"inject","z":"f45ce90b3151803b","name":"Turn On","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":240,"wires":[["db6d4879.e58638"]]},{"id":"b92f1fa1.28369","type":"inject","z":"f45ce90b3151803b","name":"Turn Off","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":280,"wires":[["af12ed91.db36b"]]},{"id":"475a1574.c2a66c","type":"inject","z":"f45ce90b3151803b","name":"Poll Status","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":180,"wires":[["1e1f4a3cc3e0324d"]]},{"id":"f6e15c5d17eefb5a","type":"function","z":"f45ce90b3151803b","name":"1 on","func":"msg.payload = {\n    relay:1,\n    on:true\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":340,"wires":[["1e1f4a3cc3e0324d"]]},{"id":"957f5b6318524f98","type":"function","z":"f45ce90b3151803b","name":"1 off","func":"msg.payload = {\n    relay:1, \n    on:false\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":380,"wires":[["1e1f4a3cc3e0324d"]]},{"id":"cd5faf03558886a5","type":"inject","z":"f45ce90b3151803b","name":"Turn On","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":340,"wires":[["f6e15c5d17eefb5a"]]},{"id":"9d05802adb88ecb7","type":"inject","z":"f45ce90b3151803b","name":"Turn Off","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":380,"wires":[["957f5b6318524f98"]]},{"id":"1e1f4a3cc3e0324d","type":"shelly-gen1","z":"f45ce90b3151803b","hostname":"","description":"","pollinginterval":5000,"pollstatus":false,"getstatusoncommand":true,"devicetype":"","outputs":1,"x":530,"y":260,"wires":[["a9a4cecf.d695d"]]}]