examples/uni.json
[{"id":"a9a4cecf.d695d","type":"debug","z":"365debdef1efd315","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":300,"wires":[]},{"id":"db6d4879.e58638","type":"function","z":"365debdef1efd315","name":"0 on","func":"msg.payload = {\n    relay:0,\n    on:true\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":260,"wires":[["4f1b5d7d6225015c"]]},{"id":"af12ed91.db36b","type":"function","z":"365debdef1efd315","name":"0 off","func":"msg.payload = {\n    relay:0, \n    on:false\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":373.12890625,"y":334.75391960144043,"wires":[["4f1b5d7d6225015c"]]},{"id":"8e633731.bcb388","type":"inject","z":"365debdef1efd315","name":"Turn On","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":224.99413108825684,"y":260.193359375,"wires":[["db6d4879.e58638"]]},{"id":"b92f1fa1.28369","type":"inject","z":"365debdef1efd315","name":"Turn Off","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":232.11914825439453,"y":333.73046588897705,"wires":[["af12ed91.db36b"]]},{"id":"475a1574.c2a66c","type":"inject","z":"365debdef1efd315","name":"Poll Status","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":180,"wires":[["4f1b5d7d6225015c"]]},{"id":"f6e15c5d17eefb5a","type":"function","z":"365debdef1efd315","name":"1 on","func":"msg.payload = {\n    relay:1,\n    on:true\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":400,"wires":[["4f1b5d7d6225015c"]]},{"id":"957f5b6318524f98","type":"function","z":"365debdef1efd315","name":"1 off","func":"msg.payload = {\n    relay:1, \n    on:false\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":373.12890625,"y":474.75391960144043,"wires":[["4f1b5d7d6225015c"]]},{"id":"cd5faf03558886a5","type":"inject","z":"365debdef1efd315","name":"Turn On","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":224.99413108825684,"y":400.193359375,"wires":[["f6e15c5d17eefb5a"]]},{"id":"9d05802adb88ecb7","type":"inject","z":"365debdef1efd315","name":"Turn Off","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":232.11914825439453,"y":473.73046588897705,"wires":[["957f5b6318524f98"]]},{"id":"4f1b5d7d6225015c","type":"shelly-uni","z":"365debdef1efd315","hostname":"192.168.178.246","description":"UNI","pollinginterval":"5000","outputs":1,"x":550,"y":300,"wires":[["a9a4cecf.d695d"]]}]