examples/uni.json
[{"id":"6052e1b6f52b97e4","type":"debug","z":"0d338faf61a7ae48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":180,"wires":[]},{"id":"4ae897c968aafff0","type":"function","z":"0d338faf61a7ae48","name":"0 on","func":"msg.payload = {\n    relay:0,\n    on:true\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":160,"wires":[["61cd2293ccb07173"]]},{"id":"b5634cfb386df271","type":"function","z":"0d338faf61a7ae48","name":"0 off","func":"msg.payload = {\n    relay:0, \n    on:false\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":200,"wires":[["61cd2293ccb07173"]]},{"id":"a5cfb1a87e0a8cfe","type":"inject","z":"0d338faf61a7ae48","name":"Turn On","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":160,"wires":[["4ae897c968aafff0"]]},{"id":"2a4f6e97daaae95a","type":"inject","z":"0d338faf61a7ae48","name":"Turn Off","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":200,"wires":[["b5634cfb386df271"]]},{"id":"ed7c3aa085a9c0ed","type":"inject","z":"0d338faf61a7ae48","name":"Poll Status","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":100,"wires":[["61cd2293ccb07173"]]},{"id":"1ab5e710456e71f2","type":"function","z":"0d338faf61a7ae48","name":"1 on","func":"msg.payload = {\n    relay:1,\n    on:true\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":260,"wires":[["61cd2293ccb07173"]]},{"id":"ed7c4cc25513ec58","type":"function","z":"0d338faf61a7ae48","name":"1 off","func":"msg.payload = {\n    relay:1, \n    on:false\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":300,"wires":[["61cd2293ccb07173"]]},{"id":"403a66aae17f1ebf","type":"inject","z":"0d338faf61a7ae48","name":"Turn On","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":260,"wires":[["1ab5e710456e71f2"]]},{"id":"44939a6847797174","type":"inject","z":"0d338faf61a7ae48","name":"Turn Off","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":300,"wires":[["ed7c4cc25513ec58"]]},{"id":"61cd2293ccb07173","type":"shelly-gen1","z":"0d338faf61a7ae48","hostname":"192.168.178.229","description":"","mode":"callback","server":"033a6e9acf499057","outputmode":"status","uploadretryinterval":"5000","pollinginterval":5000,"pollstatus":false,"getstatusoncommand":true,"devicetype":"Relay","outputs":1,"credentials":{"username":"","password":""},"x":710,"y":180,"wires":[["6052e1b6f52b97e4"]]},{"id":"033a6e9acf499057","type":"shelly-gen1-server","port":"20001","hostname":""}]